<div class="container mt-2">
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Añadir nuevo producto</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" action="{% url 'productos-crear' %}" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="card-body">
            {% for fields in form %}  
              <div class="form-group">
                <label for="exampleInputEmail1">{{fields.label}}</label>
                {{fields}}
              </div>
            {% endfor %}
                            
          </div>
            
          </div>
          <!-- /.card-body -->
          {% if messages %}
            {% for message in messages %}
              <small class={message.tags} style="color:red ">{{message}}</small>
            {% endfor %}
          {% endif %}
          <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Registrar"/>
          </div>
        </form>
      </div>
</div>