<div class="container mt-2">
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Editar producto</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="post" enctype="multipart/form-data" action="{% url 'productos-editar' data.id %}">
          {% csrf_token %}
          
          <div class="card-body">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" class="form-control" value="{{data.nombre}}" title="Se permite solo letras" required pattern="[a-zA-Z][a-zA-Z ]+">
            </div>
                   
            <div class="form-group">
              <label for="precio">Precio</label>
              <input type="text" name="precio" class="form-control" value="{{data.precio}}" minlength="1" maxlength="7" title="Se permite solo numeros" required pattern="[0-9]+">
            </div>

            <div class="form-group">
              <label for="cantidad">Cantidad</label>
              <input type="text" name="cantidad" class="form-control" value="{{data.cantidad}}"minlength="1" maxlength="7" title="Se permite solo numeros" required pattern="[0-9]+">
            </div>

            <div class="form-group">
              <label for="imagen">Imagen</label>
              <input accept="image/*" type="file" name="imagen" id="imgInp" class="form-control">
              <img class="mt-3" id="product-img" src="{{data.imagen.url}}" alt="{{data.nombre}}" >
            </div>
          </div>

          <script>
            // Ref: https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
            const imgInp = document.querySelector('#imgInp');
            const imagePreview = document.querySelector('#product-img');
            imgInp.onchange = (evt) => {
              const [file] = imgInp.files
              if (file) {
                imagePreview.src = URL.createObjectURL(file)
              }
            }
          </script>
            
          </div>
          <!-- /.card-body -->
          {% if messages %}
            {% for message in messages %}
              <small class={message.tags} style="color:red ">{{message}}</small>
            {% endfor %}
          {% endif %}
          <div class="card-footer">
            <input type="submit" class="btn btn-primary" value="Editar"/>
          </div>
        </form>
      </div>
</div>