    <!-- Tabla -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-3 col-6">
  
          <div class="small-box bg-info">
          <div class="inner">
          <h3>{{total_ordenes}}</h3>
          <p>Ordenes confirmadas</p>
          </div>
          <div class="icon">
          <i class="ion ion-bag"></i>
          </div>
          <a href="{% url 'ordenes' %}" class="small-box-footer">Ver ordenes<i class="fas fa-arrow-circle-right"></i></a>
          </div>
          </div>
      </div>
    </div>

    <div class="container card mt-3">
        <div class="card-header">
          <h3 class="card-title">Inventario</h3>
  
          <div class="card-tools d-flex">
  
            <div class="input-group input-group-sm ml-2" style="width: 150px;">
  
              <div class="input-group-append">
                <a href="productos?action=create" class="btn btn-success">
                  <i class="fas fa-plus"></i>
                  Agregar producto
                </a>
              </div>
  
              
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Disponibles</th>
                <th>Acciones</th>
                
              </tr>
            </thead>
            <tbody>
              {% for producto in productos %}
                <tr>
                  <td>{{producto.id}}</td>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.precio}}</td>
                  <td>{{producto.cantidad}}</td>
                  <td class="d-flex ">
                    <button class="btn btn-danger mr-2 eliminar_producto" data-id="productos?action=delete&id={{producto.id}}" data-toggle="modal" data-target="#modalEliminar"><i class="fa fa-trash"></i></button>
                    <a class="btn btn-primary" href="productos?action=edit&id={{producto.id}}"><i class="fas fa-edit"></i></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.content -->
    </div>
  
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Está seguro que quiere eliminar este producto?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
            <a href="#" type="button" class="btn btn-primary eliminar_producto_redirect">Eliminar</a>
          </div>
        </div>
      </div>
    </div>

    <script>
        let btnsEliminar = document.querySelectorAll('.eliminar_producto');
        let btnsEliminarRedirect = document.querySelector('.eliminar_producto_redirect');
      
        btnsEliminar.forEach(btn=>{
          const { id } = btn.dataset
          btn.onclick = ()=>{
              btnsEliminarRedirect.setAttribute('href', id)
          }
        })
      </script>