<body>
    ¡Hola {{ user|upper }}!
    Bienvenido a Kala Yoga, a continuacion tendras un enlace para crear una nueva contraseña para tu cuenta <br>
    <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Crear nueva contraseña</a> 
</body>