<body>
    ¡Hola {{ user|upper }}!
    Has solicitado un cambio de contraseña, para realizarlo puedes ingresar al siguiente enlace <br>
    <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Recuperar contraseña</a> 
</body>