<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kala Yoga | Registro exitoso</title>
</head>
<body>
    ¡Hola {{ usuario|upper }}!
    Te has registrado exitosamente
</body>
</html>