{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
  
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fontawesome-free/css/all.min.css' %} ">
  <!-- fullCalendar -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fullcalendar/main.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {% static 'administracion/dist/css/adminlte.min.css' %} ">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  

  

  <!-- Content Wrapper. Contains page content -->
  <div class="wrapper">
    <!-- Content Header (Page header)
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Calendario</h1>
          </div>
          
        </div>
      </div> /.container-fluid 
    </section> -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="sticky-top mb-3">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Crear Reserva</h4>
                </div>
                <div class="card-body">

            <!-- CREAR RESERVA FORM -->

                  <div id="external-events">
                  <form method="post" action="{% url 'reservar' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="genero">Clase:</label>
                      
                      <select id="select-tipoClase" class="custom-select form-control-border" name="id_tipo_clase">
                        {% for a in tipoClases %}
                        <!-- <option value="{{a.id}}-{{a.dia}}">{{a.nombre}} - {{a.dia}}</option> -->
                        <option value="{{a.id}}">{{a.nombre}} - {{a.dia}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="genero">Cliente:</label>
                      
                      <select class="custom-select form-control-border" name="id_cliente">
                        {% for a in users %}
                        <option value="{{a.id}}">{{a.first_name}} {{a.last_name}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                      {% with tipoClases|first as a %}
                      <label for="padecimientos">Dia</label>
                      <input type="text" value="{{a.dia}}" class="form-control" id="dia" name="dia" placeholder="Dia" readonly>
                      {% endwith %}
                    </div>

                    <div class="form-group">
                      <label for="padecimientos">Hora</label>
                      <input type="text" class="form-control" id="hora" name="hora" placeholder="" readonly>
                    </div>
                    
                    <div class="form-group">
                      <label for="padecimientos">Próxima Fecha</label>
                      <input type="text" class="form-control" id="fecha" name="fecha" placeholder="YYYY-MM-DD" readonly>
                    </div>

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Crear Reserva</button>
                    </div>
                  </form>
                  </div>
                </div>
                <!-- /.CREAR RESERVA FORM -->


                <script>
                  // Funcion para calcular la siguiente fecha del dia de la clase
                  function nextDay(dayOfWeek) {
                  var now = new Date()
                  var result = new Date(
                                now.getFullYear(),
                                now.getMonth(),
                                now.getDate() + (7 + dayOfWeek - now.getDay()) % 7)

                  if (result < now)
                    result.setDate(result.getDate() + 7)
                  
                  result = result.getFullYear() + '-' + (result.getMonth()+1) + '-' + result.getDate();
                  return result
                  }

                  // Get para traer los datos de la clase seleccionada
                  function ObtenerHora(){ 
                  let id_tipo_clase = document.getElementById("select-tipoClase").value;
                  let url = '{% url "traerDatosClase" 12345 %}'.replace(/12345/,id_tipo_clase);

                  fetch(url, {
                  headers:{
                      'Accept': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                  },
                  })
                  .then(response => {
                      return response.json() //Convert response to JSON
                  })
                  .then(data => {
                      document.getElementById("hora").value = data.hora; 
                      
                  })

                  // Calcular la fecha de la primera siguiente clase
                  diaInicial = document.getElementById("dia").value;
                  if(diaInicial=="L"){
                      document.getElementById("fecha").value = nextDay(1);
                      document.getElementById("dia").value = 'Lunes';
                    } else if(diaInicial=="K"){
                      document.getElementById("fecha").value = nextDay(2);
                      document.getElementById("dia").value = 'Martes';
                    } else if(diaInicial=="M"){
                      document.getElementById("fecha").value = nextDay(3);
                      document.getElementById("dia").value = 'Miércoles';
                    } else if(diaInicial=="J"){
                      document.getElementById("fecha").value = nextDay(4);
                      document.getElementById("dia").value = 'Jueves';
                    } else if(diaInicial=="V"){
                      document.getElementById("fecha").value = nextDay(5);
                      document.getElementById("dia").value = 'Viernes';
                    } else if(diaInicial=="S"){
                      document.getElementById("fecha").value = nextDay(6);
                      document.getElementById("dia").value = 'Sábado';
                    }

                  }

                  // Event listener cuando cambia el select de la clase
                  let a = document.getElementById("select-tipoClase");
                  a.addEventListener("change", () => {
                    let textoOpcion = a.options[a.selectedIndex].text
                    const dia = textoOpcion.split('- ');
                    document.getElementById('dia').value = dia[1];
                    
                    if(dia[1]=="L"){
                      document.getElementById("fecha").value = nextDay(1);
                      document.getElementById("dia").value = 'Lunes';
                    } else if(dia[1]=="K"){
                      document.getElementById("fecha").value = nextDay(2);
                      document.getElementById("dia").value = 'Martes';
                    } else if(dia[1]=="M"){
                      document.getElementById("fecha").value = nextDay(3);
                      document.getElementById("dia").value = 'Miércoles';
                    } else if(dia[1]=="J"){
                      document.getElementById("fecha").value = nextDay(4);
                      document.getElementById("dia").value = 'Jueves';
                    } else if(dia[1]=="V"){
                      document.getElementById("fecha").value = nextDay(5);
                      document.getElementById("dia").value = 'Viernes';
                    } else if(dia[1]=="S"){
                      document.getElementById("fecha").value = nextDay(6);
                      document.getElementById("dia").value = 'Sábado';
                    }

                    ObtenerHora();
                  });

                  ObtenerHora();

                </script>


                <!-- /.card-body -->
              </div>
              
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  

  
</div>
<!-- ./wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- jQuery -->
<script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
<!-- Bootstrap -->
<script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!-- jQuery UI -->
<script src=" {% static 'administracion/plugins/jquery-ui/jquery-ui.min.js' %} "></script>
<!-- AdminLTE App -->
<script src=" {% static 'administracion/dist/js/adminlte.min.js' %} "></script>
<!-- fullCalendar 2.2.5 -->
<script src=" {% static 'administracion/plugins/moment/moment.min.js' %} "></script>
<script src=" {% static 'administracion/plugins/fullcalendar/main.js' %} "></script>




<!-- Page specific script -->
<script>
  
  const BASE_URL = `${window.location.origin}/administracion`;
  // Cannot read as sessionid is a HttpOnly cookie
  const SESSION_ID = '';

  const instance = axios.create({
    baseURL: BASE_URL
  });

  $(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function ini_events(ele) {
      ele.each(function () {

        // create an Event Object (https://fullcalendar.io/docs/event-object)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    ini_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()

    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendar.Draggable;

    var containerEl = document.getElementById('external-events');
    var checkbox = document.getElementById('drop-remove');
    var calendarEl = document.getElementById('calendar');

    // initialize the external events
    // -----------------------------------------------------------------

    new Draggable(containerEl, {
      itemSelector: '.external-event',
      eventData: function(eventEl) {
        return {
          title: eventEl.innerText,
          backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
          textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
        };
      }
    });

    var palabra = '{{palabra}}';
  
    var eventosObj = JSON.parse('{{eventosObj | safe}}')
    console.log(eventosObj)
    var eventos = eventosObj.map((evento) => ({id: evento.id, title: evento.nombre_clase, start: evento.fecha, allDay:true, hora_inicio: evento.horario_inicio, hora_cierre: evento.horario_cierre, aforo: evento.aforo}))
    
    var calendar = new Calendar(calendarEl, {
      headerToolbar: {
        // left  : 'prev,next today',
        // center: 'title',
        // // right : 'dayGridMonth,timeGridWeek,timeGridDay'
        // //right : 'dayGridMonth'
      },
      themeSystem: 'bootstrap',
      //Random default events
      events: [...eventos]
      ,
      editable  : true,
      droppable : true,
      eventClick: async (info) => {
        console.log(info.event)
        // Id del evento 
        const { publicId, extendedProps } = info.event._def;

        let { data } = await instance.get(`/eventos/${publicId}`)
        // Obtenemos usuarios que han realizado reservas para dicho evento
        let usuarios_reservas = await instance.get(`/eventos/${publicId}/reservas`)
        
        $('#modal-evento-reserva').modal('show')
        $('.modal-title').text(data[0].fields.nombre);
        $('.modal-body').html(infoEventoModal(extendedProps, usuarios_reservas.data));

        let btnsDeleteReservas = document.querySelectorAll('.delete-reserva');
        btnsDeleteReservas.forEach(btn => {
          btn.onclick = async() => {
            const { userinfoid } = btn.dataset;
            console.log('Delete reserva...')
            let { data } = await instance.get(`/eventos/${publicId}/reservas/${userinfoid}/delete`)
            if(data == 200){
              let users_updated = usuarios_reservas.data.filter(user => user.id_info != userinfoid)
              console.log(users_updated)
              let table = document.querySelector('#usuario_reservas_table')
              window.location.reload()
              
            }
          }
        })
      },
      drop: function(info) {
        // is the "remove after drop" checkbox checked?
        if (checkbox.checked) {
          // if so, remove the element from the "Draggable Events" list
          info.draggedEl.parentNode.removeChild(info.draggedEl);
        }
      }
    });

    
    calendar.render();
    // $('#calendar').fullCalendar()

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    // Color chooser button
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      // Save color
      currColor = $(this).css('color')
      // Add color effect to button
      $('#add-new-event').css({
        'background-color': currColor,
        'border-color'    : currColor
      })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      // Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      // Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.text(val)
      $('#external-events').prepend(event)

      // Add draggable funtionality
      ini_events(event)

      // Remove event from text input
      $('#new-event').val('')
    });

    const usersTable = (usuarios) => {
        let trs = '';

        if(usuarios.length == 0){
          return `
          <div class="alert alert-danger" role="alert">
            Aún no hay reservaciones para esta clase
          </div>
          `
        }

        usuarios.forEach(usuario => {
          trs += `
            <tr>
              <td>${usuario.nombre}</td>
              <td>${usuario.apellidos}</td>
              <td>
                <button class="btn delete-reserva close" data-userinfoId="${usuario.id}">
                  x
                </button>
              </td>
            </tr>    
          ` 
        });

        return `
        <div id="usuarios_reservas">
          <table class="table" id="usuario_reservas_table">
            <tr>
              <th colspan=3>
                Clientes
              </th>
            </tr>
            <tbody>
              ${trs}
            </tbody>
          </table>
        </div>
        `
      }

    let infoEventoModal = (data, usuarios) => {
      
      // @TODO => asignar AM o PM al horario
      // Usar toLocaleTimestring() pero con UTC para que envie la hora correcta
      let date = new Date(data.horario);
      let hora = date.getUTCHours()
      let minutos = date.getUTCMinutes()

      return `

      <div class="form-group">
        <label for="horario">Horario</label>
        <input type="text" class="form-control" name="horario" value="${data.hora_inicio}" disabled>
      </div>

      <div class="form-group">
        <label for="aforo">Aforo</label>
        <input name="aforo" type="number" class="form-control" value=${data.aforo}>
      </div>

      ${usersTable(usuarios)}
    `}
  })

  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
}
</script>

<div class="modal fade" id="modal-evento-reserva" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reserva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
        <!-- <a href="#" type="button" class="btn btn-primary eliminar_producto_redirect">Eliminar</a> -->
      </div>
    </div>
  </div>
</div>

</body>

<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que quiere eliminar este producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
        <a href="#" type="button" class="btn btn-primary eliminar_producto_redirect">Eliminar</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}