{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fontawesome-free/css/all.min.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {% static 'administracion/dist/css/adminlte.min.css' %} ">
</head>

<body class="sidebar-mini" style="height: auto;">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1604.44px;">
    

    <!-- Header de Pagina-->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <!-- Barra de Busqueda -->
              <form action="{% url 'clientes' %}" method="get">
                  <div class="input-group">
                      <input type="search" value="{{buscarCliente}}" class="form-control form-control-lg" name="buscarCliente" placeholder="Buscar cliente:">
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                      <!-- Boton agregar nuevo cliente -->
                        <a href="{%url 'registrar'%}" class="nav-link active">
                          <i class="fas fa-user"></i> Registrar Cliente
                        </a> <!-- /.Boton agregar nuevo cliente -->  
                  </div> 
              </form>
          </div>
      </div><!-- /.Barra de Busqueda -->
      </div>
    </section> <!-- /.Header de Pagina-->

    <!-- Contenedor de fichas Clientes -->
    <section class="content">
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">
            
            {% for a in clienteObj %}
            <!-- Carta de Cliente -->
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{a.usuario.first_name}} {{a.usuario.last_name}}</b></h2>
                      <p class="text-muted text-sm"><b>Cédula: </b> {{a.cedula}} </p>
                      
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"></span>Correo: {{a.usuario.email}}</li>
                    <li class="small"><span class="fa-li"></span>Género: {{a.genero}}</li>
                    <li class="small"><span class="fa-li"></span>Edad: {{a.edad}}</li>
                    <li class="small"><span class="fa-li"></span>Lesiones: {{a.lesiones}}</li>
                    <li class="small"><span class="fa-li"></span>Padecimientos: {{a.padecimientos}}</li>
                    <li class="small"><span class="fa-li"></span>Celular: {{a.celular}}</li>

                    {% if a.tipo_mensualidad != 0 %}
                    <li class="small"><span class="fa-li"></span>
                      {% if a.tipo_mensualidad == 1 %}
                      Mensualidad: Una Clase Semanal
                      {% elif a.tipo_mensualidad == 2 %}
                      Mensualidad: Dos Clases Semanales
                      {% elif a.tipo_mensualidad == 3 %}
                      Mensualidad: Tres Clases Semanales
                      {% elif a.tipo_mensualidad == 4 %}
                      Mensualidad: Cuatro Clases Semanales
                      {% elif a.tipo_mensualidad == 5 %}
                      Mensualidad: Una Clase de Acroyoga
                      {% elif a.tipo_mensualidad == 6 %}
                      Mensualidad: Dos Clases de Acroyoga
                      {% endif %}
                    </li>
                    <li class="small"><span class="fa-li"></span>Estado Mensualidad: {{a.mensualidad_aldia}}</li>
                    <li class="small"><span class="fa-li"></span>Último pago: {{a.ultima_mensualidad}}</li>
                    {% else %}
                    <li class="small"><span class="fa-li"></span><u>Sin Mensualidad</u></li>
                    {% endif %}

                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      {% if a.genero == "Masculino" %}
                      <img src=" {% static 'administracion/dist/img/hombre_clientes.png' %} " alt="user-avatar" class="img-circle img-fluid">
                      {% else %}
                      <img src=" {% static 'administracion/dist/img/mujer_clientes.png' %} " alt="user-avatar" class="img-circle img-fluid">
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <!-- <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a> -->
                    <a href="{% url 'mensualidad' a.usuario.id %}" class="btn btn-sm btn-primary">
                      <i class="fas fa-money"></i> Mensualidad
                    </a>
                    <a href="{% url 'editar' a.usuario.id %}" class="btn btn-sm btn-primary">
                      <i class="fas fa-user"></i> Editar
                    </a>
                    <a href="#" data-id="{% url 'eliminar-usuario' a.usuario.id %}" class="btn btn-sm btn-primary eliminar_usuario" data-toggle="modal" data-target="#modalEliminar">
                      <i class="fas fa-user"></i> Eliminar
                    </a>
                  </div>
                </div>
              </div>
            </div> <!-- /.Carta de Cliente -->
            {% endfor %}   
          </div>  
        </div>   
      </div>

    </section> <!-- /.Contenedor de fichas Clientes -->

    <!-- Elementos de Paginacion -->
    {% if clienteObj.has_other_pages %}
    <div class="card-footer">
      <nav aria-label="Contacts Page Navigation">
        <ul class="pagination justify-content-center m-0">

          {% if clienteObj.has_previous %}
          <li class="page-item"><a class="btn page-link" href="?page={{clienteObj.previous_page_number}}">&#10094</a></li>
          {% endif %}

          {% for page in paginator.page_range %}
          {% if page == clienteObj.number %}
          <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {% endif %}
          {% endfor %}

          {% if clienteObj.has_next %}
          <li class="page-item"><a class="btn page-link" href="?page={{clienteObj.next_page_number}}">&#10095</a></li>
          {% endif %}
        </ul>
      </nav>
    </div> <!-- /.Elementos de Paginacion -->
    {% endif %}

  </div> <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
<!-- Bootstrap 4 -->
<script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!-- AdminLTE App -->
<script src=" {% static 'administracion/dist/js/adminlte.min.js' %} "></script>


{% if messages %}
        {% for message in messages %}
          <script>
            let tags = '{{message.tags}}'
            console.log(tags)
            $(document).Toasts('create', {
              title: 'Tarea ejecutada exitosamente',
              body: '{{message}}',
              imageHeight: '250px',
              class: `bg-${tags}`
            })   
          </script>
        {% endfor %}
      {% endif %}

<!-- Modal Eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que quiere eliminar este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
        <a href="#" type="button" class="btn btn-primary eliminar_usuario_redirect">Eliminar</a>
      </div>
    </div>
  </div>
</div>



<script>
  let btnsEliminar = document.querySelectorAll('.eliminar_usuario');
  let btnsEliminarRedirect = document.querySelector('.eliminar_usuario_redirect');

  btnsEliminar.forEach(btn=>{
    const { id } = btn.dataset
    btn.onclick = ()=>{
        btnsEliminarRedirect.setAttribute('href', id)
    }
  })
</script>

</body>

{% endblock content %}