{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
    
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href=" {% static 'administrador/plugins/fontawesome-free/css/all.min.css' %} ">
    <!-- Theme style -->
    <link rel="stylesheet" href=" {% static 'administrador/dist/css/adminlte.min.css' %} ">
  </head>
  <body class="sidebar-mini" style="height: auto;">
  <div class="wrapper">
    <!-- Navbar -->
    
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 937px;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              
            </div>
            <div class="col-sm-6">
              
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        
          
            <!-- left column -->
            
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Editar Cliente</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                  {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                      <label for="first_name">Nombre</label>
                      <input type="text" class="form-control" name="first_name" placeholder="Editar nombre" value="{{userObj.first_name}}"  minlength="3" maxlength="30" required>
                    </div>
                    <div class="form-group">
                      <label for="last_name">Apellidos</label>
                      <input type="text" class="form-control" name="last_name" placeholder="Editar apellidos" value="{{userObj.last_name}}" minlength="3" maxlength="30" required>
                    </div>
                    <div class="form-group">
                      <label for="cedula">Cédula</label>
                      <input type="text" class="form-control" name="cedula" placeholder="Editar cédula" value="{{userInfoObj.cedula}}"  minlength="5" maxlength="10" required>
                    </div>
                    <div class="form-group">
                      <label for="cedula">Celular</label>
                      <input type="text" class="form-control" name="celular" placeholder="Editar cédula" value="{{userInfoObj.celular}}"  minlength="5" maxlength="10" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Correo Electrónico</label>
                      <input type="email" class="form-control" name="email" placeholder="Editar correo electrónico" value="{{userObj.email}}" required>
                    </div>
                    <div class="form-group">
                      <label for="edad">Edad</label>
                      <input type="number" class="form-control" name="edad" placeholder="Editar edad" value="{{userInfoObj.edad}}"  maxlength="2" required>
                    </div>
                    <div class="form-group">
                      <label for="genero">Género</label>
                      {% if userInfoObj.genero == "Masculino" %}
                      <select class="custom-select form-control-border" name="genero">
                        <option value="Masculino" selected>Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                      </select>
                      {% elif userInfoObj.genero == "Femenino" %}
                      <select class="custom-select form-control-border" name="genero">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino" selected>Femenino</option>
                        <option value="Otro">Otro</option>
                      </select>
                      {% elif userInfoObj.genero == "Otro" %}
                      <select class="custom-select form-control-border" name="genero">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro" selected>Otro</option>
                      </select>
                      {% endif %}
                    </div>
                    <div class="form-group">
                      <label for="lesiones">Lesiones</label>
                      <input type="text" class="form-control" name="lesiones" placeholder="Editar lesiones" value="{{userInfoObj.lesiones}}" minlength="3" required>
                    </div>
                    <div class="form-group">
                      <label for="padecimientos">Padecimientos</label>
                      <input type="text" class="form-control" name="padecimientos" placeholder="Editar padecimientos" value="{{userInfoObj.padecimientos}}" minlength="3" required>
                    </div>
                    
                    
                    </div>
                    
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Editar</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
              <!-- general form elements -->
              <div class="card card-primary">
                
                <!-- /.card-header -->
                
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
              <!-- Input addon -->
              <div class="card card-info">
                
                
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              
  
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" style="display: none;">
      <!-- Control sidebar content goes here -->
    <div class="p-3 control-sidebar-content"><h5>Customize AdminLTE</h5><hr class="mb-2"><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Dark Mode</span></div><h6>Header Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Dropdown Legacy Offset</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>No border</span></div><h6>Sidebar Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Collapsed</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" checked="checked" class="mr-1"><span>Sidebar Mini</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Mini MD</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Mini XS</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Flat Style</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Legacy Style</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Compact</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Child Indent</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Child Hide on Collapse</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Disable Hover/Focus Auto-Expand</span></div><h6>Footer Options</h6><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><h6>Small Text Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Body</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Navbar</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Brand</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Nav</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Footer</span></div><h6>Navbar Variants</h6><div class="d-flex"><select class="custom-select mb-3 text-light border-0 bg-white"><option class="bg-primary">Primary</option><option class="bg-secondary">Secondary</option><option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option><option class="bg-indigo">Indigo</option><option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option><option class="bg-lightblue">Lightblue</option><option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option><option class="bg-gray-dark">Gray dark</option><option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option><option class="bg-white">White</option><option class="bg-orange">Orange</option></select></div><h6>Accent Color Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Dark Sidebar Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 text-light border-0 bg-primary"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Light Sidebar Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Brand Logo Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-secondary">Secondary</option><option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option><option class="bg-indigo">Indigo</option><option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option><option class="bg-lightblue">Lightblue</option><option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option><option class="bg-gray-dark">Gray dark</option><option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option><option class="bg-white">White</option><option class="bg-orange">Orange</option><a href="#">clear</a></select></div></aside>
    <!-- /.control-sidebar -->
  <div id="sidebar-overlay"></div></div>
  <!-- ./wrapper -->
  
  <!-- jQuery -->
  <script src=" {% static 'administrador/plugins/jquery/jquery.min.js' %} "></script>
  <!-- Bootstrap 4 -->
  <script src=" {% static 'administrador/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <!-- bs-custom-file-input -->
  <script src=" {% static 'administrador/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>
  <!-- AdminLTE App -->
  <script src=" {% static 'administrador/dist/js/adminlte.min.js' %} "></script>
  <!-- AdminLTE for demo purposes -->
  <script src=" {% static 'administrador/dist/js/demo.js' %} "></script>
  <!-- Page specific script -->
  <script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>
  </body>

  {% endblock content %}