{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="vh-100 d-flex align-items-center justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <p> Seguro que desea eliminar al usuario {{object.first_name}} {{object.last_name}}?</p>
        <div class="d-flex align-items-center justify-content-center" >

            <button class="mr-3 btn btn-info"><a style="color:white;" href="{% url 'clientes' %}">Atrás</a></button>
            
            <input type="submit" class="btn btn-danger" value="Eliminar" style="color: white;">
        </div>
        
    </form>
</div>



{% endblock %}