{% extends 'main.html' %}
{% load static %}



{% block content %}
<head>
    <link rel="stylesheet" href=" {% static 'administracion/dist/css/pruebas.css' %} ">
</head>


<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-6">
    <h1>Guías de Administración</h1>
    </div>
    </div>
    </div>
</section>



<section class="content">
    <div class="row">
    <div class="col-12" id="accordion">

    <!-- Video 1 -->
    <div class="card card-primary card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Acceso al módulo de administración
            </h4>
        </div>
        </a>
        <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Para acceder al módulo de administración introduce tu usuario y contraseña con permisos de administrador, valida el captcha y listo. Tendrás acceso al sitio.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/871ed2f4-9a47-4dbc-b335-28d6f3a1045a/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 1 -->

    <!-- Video 2 -->
    <div class="card card-primary card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Revisar los mensajes de contacto
            </h4>
        </div>
        </a>
        <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Mensajes", ahí encontraras todos los mensajes que has recibido.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/bce863ec-bd16-4b65-b9e2-5354f73387da/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 2 -->

    <!-- Video 3 -->
    <div class="card card-warning card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Crear un horario nuevo de clases
            </h4>
        </div>
        </a>
        <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Horario".
                            <br>Dale click al botón que dice "Añadir nuevo evento", rellená la información que se solicita y dale click en el botón que dice "Añadir" en caso de que querás añadir el nuevo horario, o dale click al botón que dice "Atrás" en caso de que no querás añadir un evento nuevo.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/64715261-72e7-42fe-b189-d01d564fc7e4/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 3 -->

    <!-- Video 4 -->
    <div class="card card-warning card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Editar un horario de clases
            </h4>
        </div>
        </a>
        <div id="collapseFour" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Horario".
                            <br>En el calendario, dale click al rectángulo que gustes editar y aparecerá una ventana en la que podés editar la información de ese horario.
                        <br>Una vez que ya terminaste de editar, podés darle click al botón que dice "Editar Información" o bien darle a la "X" en la ventana donde estás editando la información para cerrar dicha ventana y volver al calendario.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/4cf215fa-2a30-4d86-ab21-c50167733db9/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 4 -->

    <!-- Video 5 -->
    <div class="card card-warning card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Revisar asistencia y gestionar reservaciones de una clase
            </h4>
        </div>
        </a>
        <div id="collapseFive" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Clases".
                            <br>Una vez ahí podrás ver un calendario con todas las clases disponibles para los clientes, podés darle click a cualquier rectángulo que gustes para ver los detalles de esa clase.
                        <br>Podés ver a los clientes que han reservado en esa clase, cada cliente viene con una equis (X) a su derecha, si le das click a esta podrás eliminar la reserva de ese cliente.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/4f1a0985-3aeb-46e1-a25e-725240684c22/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 5 -->

    <!-- Video 6 -->
    <div class="card card-warning card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Realizar una reservación para un cliente
            </h4>
        </div>
        </a>
        <div id="collapseSix" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Clases".
                            <br>Podrás ver un panel a la izquierda del calendario donde puedes seleccionar una clase, un cliente, el día, la hora, y la próxima fecha en la que se realizará la clase.
                        <br>Para terminar de realizar la reservación por el cliente, tenés que darle al botón que dice "Crear Reserva".</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/9d57a676-cbd7-4424-83ad-9e1bedce3587/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 6 -->

    <!-- Video 7 -->
    <div class="card card-danger card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Nueva mensualidad de un cliente
            </h4>
        </div>
        </a>
        <div id="collapseSeven" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Clientes".
                            <br>Una vez ahí, podrás ver una lista con todos los clientes, cada cliente tendrá tres botones, uno de mensualidad, otro para editar y otro para eliminar.
                        <br>En este caso le das click al botón que dice "Mensualidad", ahí podrás editar el tipo de mensualidad, el estado de la mensualidad y el último pago del cliente seleccionado.
                    <br>Una vez que ya se haya editado esa información, puedes darle al botón "Confirmar" para editar exitosamente esa información, o bien si no quieres editar la información puedes irte a cualquier otra página para cancelar el proceso.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/e297896c-57bd-4e69-80b4-085b5790d8c3/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 7 -->

    <!-- Video 8 -->
    <div class="card card-danger card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Gestión de mensualidades
            </h4>
        </div>
        </a>
        <div id="collapseEight" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Clientes".
                                <br>Una vez ahí, podrás ver una lista con todos los clientes, cada cliente tendrá tres botones, uno de mensualidad, otro para editar y otro para eliminar.
                            <br>En este caso le das click al botón que dice "Mensualidad", ahí podrás editar el tipo de mensualidad, el estado de la mensualidad y el último pago del cliente seleccionado.
                        <br>Una vez que ya se haya editado esa información, puedes darle al botón "Confirmar" para editar exitosamente esa información, o bien si no quieres editar la información puedes irte a cualquier otra página para cancelar el proceso.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/1dd8f01b-2836-4a24-833f-f39ea41faf7d/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 8 -->

    <!-- Video 9 -->
    <div class="card card-primary card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Registro de un producto nuevo
            </h4>
        </div>
        </a>
        <div id="collapseNine" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Productos".
                            <br>Ahí encontrarás una lista de todos los productos registrados, y un botón verde que dice "Agregar producto" al que se le debe hacer click para agregar un producto nuevo.
                        <br>Luego aparecera un formulario donde deberás rellenar la información solicitada para agregar un producto nuevo, debes poner el nombre, precio, cantidad, descripción y una imagen del producto.
                    <br>Luego para agregar el producto debes darle click al botón que dice "Registrar" para poder agregar el producto, si no deseas registrar el producto, puedes irte a cualquier otra página para salirte del formulario.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/2491a4bc-26ce-4c2f-bb12-45bdd9fa714e/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 9 -->

    <!-- Video 10 -->
    <div class="card card-primary card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Gestión de inventario de productos
            </h4>
        </div>
        </a>
        <div id="collapseTen" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Productos".
                                <br>Ahí encontrarás una lista de todos los productos registrados, cada uno tiene dos botones a la derecha, uno con un ícono de un basurero que sirve para eliminar el producto y otro de un lapiz sobre un cuadro que sirve para editar. 
                            <br>Si le das click al botón para editar, aparecera un formulario donde deberás rellenar la información solicitada para agregar un producto nuevo, debes poner el nombre, precio, cantidad, descripción y una imagen del producto.
                        <br>Luego para editar el producto debes darle click al botón que dice "Editar" para poder editar el producto, si no deseas editar el producto, puedes irte a cualquier otra página para salirte del formulario.
                    <br>Si le das click al botón para eliminar, saldrá una ventana para confirmar la eliminación del producto seleccionado donde le podrás dar click a dos botones, el botón "Eliminar" si querés eliminar el producto, o le podés dar click al botón "Atrás" si no querés eliminar el producto y devolverte a la lista.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/4c8f3034-58cc-4a5a-b434-d0eb31e3a5ec/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 10 -->

    <!-- Video 11 -->
    <div class="card card-primary card-outline">
        <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseEleven" aria-expanded="false">
        <div class="card-header">
            <h4 class="card-title w-100">
                Gestión de ordenes confirmadas
            </h4>
        </div>
        </a>
        <div id="collapseEleven" class="collapse" data-parent="#accordion" style="">
            <div class="card-body">

                <div class="card-body pt-0">
                <div class="row">

                    <div class="col-7">                
                        <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"></span><p class="purebitaa" align="justify" ><b>Guía:</b> Dirigete a la parte superior de la página y dale click al botón que dice "Productos".
                            <br>Ahí podrás ver un cuadro que dice "Ordenes Confirmadas" y le das click donde dice "Ver Ordernes".
                        <br>Una vez ahí, podrás ver toda la lista de las ordenes confirmadas, a la derecha de cada orden habrá un botón que dice "Ver Detalle".
                    <br>Una vez que le das click a algún botón "Ver Detalle" de alguna orden, podrás ver todos los detalles como lo son la imagen de los productos, el nombre, descripción, cantidad solicitada por el cliente, el total de cada producto y el total de todo el pedido.
                <br>Para devolverse a la lista de pedidos, puedes darle click en "Pedidos" marcado en azul.</p>
                            </li>

                            <li class="small"><span class="fa-li"></span><!-- copy and paste. Modify height and width if desired. -->
                                <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                                style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/de73bf0e-8365-43ab-b162-2d4b81ee0973/embed" height="250" width="450" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </li>
                        </ul>
                    </div>

                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Video 11 -->

    </div>
    </div>
    <div class="row">
    <div class="col-12 mt-3 text-center">
    <p class="lead">    
    Si existe algún problema distinto, contacte al desarrollador<br>
    </p>
    </div>
    </div>
</section>




{% endblock content %}