{% extends 'main.html' %}
{% load static %}

{% block content %}
  <head>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fontawesome-free/css/all.min.css' %} ">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %} ">
  <!-- iCheck -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %} ">
  <!-- JQVMap -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/jqvmap/jqvmap.min.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {% static 'administracion/dist/css/adminlte.min.css' %} ">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %} ">
  <!-- Daterange picker -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/daterangepicker/daterangepicker.css' %} ">
  <!-- summernote -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/summernote/summernote-bs4.min.css' %} ">
  </head>


<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src=" {% static 'administracion/dist/img/kalayoga_logo.jpg' %} " alt="AdminLTELogo" height="60" width="60">
  </div>

  

  
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <!-- solid sales graph -->
            <div class="card border-success bg-light mb-6" style="width: 70rem; border: 3px solid rgb(26, 196, 14);">
              <div class="card-header">
                <h3 class="card-title">
                  &nbsp;
                  <i class="ion ion-bag" style="color: rgb(26, 196, 14)"></i>
                  &nbsp;
                  Inventario de Productos
                </h3>
              </div>
              <div class="card-body">
                <canvas class="chart" id="inventario-productos" responsive="true"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            
            <div class="card border-info bg-light mb-3" style="width: 70rem; border: 3px solid rgb(142, 212, 235); text-align: center;">
              <div class="card-header">
                <h3 class="card-title">
                  &nbsp;
                  <i class="ion ion-stats-bars" style="color: rgb(142, 212, 235)"></i>
                  &nbsp;
                  Clientes por género
                </h3>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="genero-chart">
                      <canvas id="genero-chart-canvas" responsive="true"></canvas>
                      
                   </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
              </div>
            
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
<!-- jQuery UI 1.11.4 -->
<script src=" {% static 'administracion/plugins/jquery-ui/jquery-ui.min.js' %} "></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!-- ChartJS -->
<script src=" {% static 'administracion/plugins/chart.js/Chart.min.js' %} "></script>
<script>
  const ctx = document.getElementById('genero-chart-canvas').getContext('2d');
  var Masculino = "{{Masculino}}";
  var Femenino = "{{Femenino}}";
  var Otro = "{{Otro}}";
  const generoChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Masculino', 'Femenino', 'Otro'],
          datasets: [{
              label: 'Número de clientes por género',
              data: [Masculino, Femenino, Otro],
              backgroundColor: [{% for x in ColoresGenero %} '{{ x }}', {% endfor %}],
              borderColor: [{% for x in ColoresGenero %} '{{ x }}', {% endfor %}],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
            yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
          }
      }
  });
  </script>

<script>
  const cty = document.getElementById('inventario-productos').getContext('2d');
  const inventarioChart = new Chart(cty, {
      type: 'bar',
      data: {
          labels: [{% for x in Productos %} '{{ x.nombre }}', {% endfor %}],
          datasets: [{
              label: 'Cantidad del producto en el inventario',
              data: [{% for x in Productos %} {{ x.cantidad }}, {% endfor %}],
              backgroundColor: [{% for x in ColoresProducto %} '{{ x }}', {% endfor %}],
              borderColor: [{% for x in ColoresProducto %} '{{ x }}', {% endfor %}],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
          }
      }
  });
  </script>
</body>


{% endblock content %}