{% extends 'main.html' %}
{% load static %}

{% block content %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{% static 'administracion/dist/schedule_template/assets/css/style.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fontawesome-free/css/all.min.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {% static 'administracion/dist/css/adminlte.min.css' %} ">

  <link rel="stylesheet" href="{% static 'administracion/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">

  <title>Schedule Template | CodyHouse</title>
</head>
<body>
  
  <!--  -->
  <header class="container mt-2">
    <div>
      <button class="btn btn-success" data-toggle="modal" data-target="#modal-add-evento">Añadir nuevo evento</button>
    </div>
  </header>

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>07:00</span></li>
        <li><span>07:30</span></li>
        <li><span>08:00</span></li>
        <li><span>08:30</span></li>
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li>
        <li><span>18:30</span></li>
        <li><span>19:00</span></li>
        <li><span>19:30</span></li>
        <li><span>20:00</span></li>
        <li><span>20:30</span></li>
        <li><span>21:00</span></li>
      
      </ul>
    </div> <!-- .cd-schedule__timeline -->
  
    <div class="cd-schedule__events">
      <ul>
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Lunes</span></div>
  
          <ul>
            {% for a in tipoClases %}
              {% if a.dia == 'L' %}
                <li class="cd-schedule__event">
                  <a data-start="{{a.horario_inicio|date:'H:i'}}" data-id-evento="{{a.id}}" data-end="{{a.horario_cierre|date:'H:i'}}" data-content="{{a.nombre}}" data-event="event-1" href="#0">
                    <em class="cd-schedule__name">{{a.nombre}}</em>
                  </a>
                </li>            
              {% endif %}
            {% endfor %}
            
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Martes</span></div>
  
          <ul>
            {% for a in tipoClases %}
            {% if a.dia == 'K' %}
            <li class="cd-schedule__event">
              <a data-start="{{a.horario_inicio|date:'H:i'}}" data-id-evento="{{a.id}}" data-end="{{a.horario_cierre|date:'H:i'}}" data-content="{{a.nombre}}" data-event="event-2" href="#0">
                <em class="cd-schedule__name">{{a.nombre}}</em>
              </a>
            </li>
            
           
            {% endif %}
            {% endfor %}
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Miércoles</span></div>
  
          <ul>
            {% for a in tipoClases %}
            {% if a.dia == 'M' %}
            <li class="cd-schedule__event">
              <a data-start="{{a.horario_inicio|date:'H:i'}}" data-id-evento="{{a.id}}" data-end="{{a.horario_cierre|date:'H:i'}}" data-content="{{a.nombre}}" data-event="event-1" href="#0">
                <em class="cd-schedule__name">{{a.nombre}}</em>
              </a>
            </li>
            
           
            {% endif %}
            {% endfor %}
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Jueves</span></div>
  
          <ul>
            {% for a in tipoClases %}
            {% if a.dia == 'J' %}
            <li class="cd-schedule__event">
              <a data-start="{{a.horario_inicio|date:'H:i'}}" data-id-evento="{{a.id}}" data-end="{{a.horario_cierre|date:'H:i'}}" data-content="{{a.nombre}}" data-event="event-1" href="#0">
                <em class="cd-schedule__name">{{a.nombre}}</em>
              </a>
            </li>
            
           
            {% endif %}
            {% endfor %}
          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Viernes</span></div>
  
          <ul>
            {% for a in tipoClases %}
            {% if a.dia == 'V' %}
            <li class="cd-schedule__event">
              <a data-start="{{a.horario_inicio|date:'H:i'}}" data-id-evento="{{a.id}}" data-end="{{a.horario_cierre|date:'H:i'}}" data-content="{{a.nombre}}" data-event="event-1" href="#0">
                <em class="cd-schedule__name">{{a.nombre}}</em>
              </a>
            </li>
            
           
            {% endif %}
            {% endfor %}
          </ul>
        </li>

        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sabado</span></div>
  
          <ul>
            {% for a in tipoClases %}
            {% if a.dia == 'S' %}
            <li class="cd-schedule__event">
              <a data-start="{{a.horario_inicio|date:'H:i'}}" data-id-evento="{{a.id}}" data-end="{{a.horario_cierre|date:'H:i'}}" data-content="{{a.nombre}}" data-event="event-1" href="#0">
                <em class="cd-schedule__name">{{a.nombre}}</em>
              </a>
            </li>
            
           
            {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>
  
        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info p-3"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

  <!-- Modal añadir nuevo evento -->
  <div class="modal fade" id="modal-add-evento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir evento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form action="{% url 'evento-add' %}" method="post">
            {% csrf_token %}
            
            <div class="add-evento-form">
              <div class="form-group">
                <label for="nombre">Nombre *</label>
                <input type="text" class="form-control" name="nombre" minlength="5" maxlength="40" required>
              </div>

              <div class="add-evento-form">
                <div class="form-group">
                  <label for="nombre">Precio *</label>
                  <input type="number" class="form-control" min="0" max="100000" name="precio" required>
                </div>
  
              <div class="form-group">
                <label for="descripcion">Descripción *</label>
                <input type="textarea" class="form-control" maxlength="3000" name="descripcion" required>
              </div>
  
              <div class="form-group">
                <label>Hora inicio:</label>
  
                <div class="input-group date" id="hora-inicio-picker" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#hora-inicio-picker" name="horario_inicio" required/>
                  <div class="input-group-append" data-target="#hora-inicio-picker" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-clock"></i></div>
                  </div>
                  </div>
                <!-- /.input group -->
              </div>
  
              <div class="form-group">
                <label>Hora cierre: *</label>
  
                <div class="input-group date" id="hora-cierre-picker" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#hora-cierre-picker" name="horario_cierre" required/>
                  <div class="input-group-append" data-target="#hora-cierre-picker" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="far fa-clock"></i></div>
                  </div>
                  </div>
                <!-- /.input group -->
              </div>
  
              <div class="form-group">
                <label for="exampleInputEmail1">Día *</label>
                <select class="custom-select form-control" name="dia-evento">
                  <option value="L">Lunes</option>
                  <option value="K">Martes</option>
                  <option value="M">Miércoles</option>
                  <option value="J">Jueves</option>
                  <option value="V">Viernes</option>
                  <option value="S">Sábado</option>
                </select>
              </div>
            </div>
  
            <div class="form-group">
              <label for="aforo">Aforo *</label>
              <input type="number" class="form-control" name="aforo" min="1" required>
            </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
            <button type="submit" class="btn btn-primary add-evento">Añadir</button>
          </div>
          </form>
          
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'administracion/plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'administracion/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script src="{% static 'administracion/dist/schedule_template/assets/js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="{% static 'administracion/dist/schedule_template/assets/js/main.js' %}"></script>
</body>
</html>

{% endblock content %}