{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kala Yoga | Administración</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fontawesome-free/css/all.min.css' %} ">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {% static 'administracion/dist/css/adminlte.min.css' %} ">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href=" {% static 'administracion/index2.html' %} " class="h1"><b>Kala</b>Yoga</a>
    </div>

    <div class="card-body">
      

      <!-- Form de inicio de sesion -->
        <form action = "" method = "post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email"  id="email" name="email" class="form-control" placeholder="Correo electrónico" minlength="3" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" minlength="3" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="ver">
              <label for="ver">
                Ver Contraseña
              </label>
            </div>
          </div>

          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Acceder</button>
          </div>
          <!-- /.col -->
        </div>
        <p></p>
        <div class="col-4">
          <script src='https://www.google.com/recaptcha/api.js'></script>
          <div class="g-recaptcha" data-sitekey="6LcLAS0iAAAAAKAfEgC0Yigp1p-hPqwPeJrxi44e" aria-required="true"></div>
        </div>
      </form>

      <!-- Mensaje de Contrasena incorrecta -->
      {% if messages %}
      {% for message in messages %}
        <small class={message.tags} style="color:red ">{{message}}</small>
        {% endfor %}
      {% endif %}

      
      <p class="mb-1">
        <a href="{% url 'olvidar_contrasena' %}">Olvidé mi contraseña</a>
      </p>

      
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
<!-- Bootstrap 4 -->
<script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!-- AdminLTE App -->
<script src=" {% static 'administracion/dist/js/adminlte.min.js' %} "></script>

<script>
  const contrasena = document.getElementById("password");
  const check = document.getElementById("ver");
  check.addEventListener("click", MostrarContrasena);

  function MostrarContrasena() {  
    if (this.checked) {
      contrasena.type = "text";
    } else {
      contrasena.type = "password";
    }
  }
</script>


</body>

</html>
