<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kala Yoga | Administración</title>
</head>
<body>
    
    {% include 'navbar_admin.html' %}

    {% block content %}



    {% endblock content %}
    
    
</body>
</html>