{% extends 'main.html' %}
{% load static %}

{% block content %}

    <!-- Contenedor de fichas Clientes -->
    <section class="content">
        <div class="card card-solid">
          <div class="card-body pb-0">
            <div class="row">
              <p></p>
              {% for a in contactos %}
              <!-- Carta de Cliente -->
              <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                  <div class="card-header text-muted border-bottom-0">
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="lead"><b>Nombre: {{a.nombre}}</b></h2>
                        <p class="text-muted text-sm"><b>Correo:</b> {{a.correo}} </p>
                        <p class="text-muted text-sm"><b>Celular: </b> {{a.celular}} </p>

                        <p class="text-muted text-sm">Mensaje: {{a.mensaje}}</p>
                        
                        <!-- <ul class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small"><span class="fa-li"></span>Correo: {{a.usuario.email}}</li>
                      <li class="small"><span class="fa-li"></span>Género: {{a.genero}}</li>
                      <li class="small"><span class="fa-li"></span>Edad: {{a.edad}}</li>
                      <li class="small"><span class="fa-li"></span>Lesiones: {{a.lesiones}}</li>
                      <li class="small"><span class="fa-li"></span>Padecimientos: {{a.padecimientos}}</li>
                      <li class="small"><span class="fa-li"></span>Mensualidad: Al día</li>
                      <li class="small"><span class="fa-li"></span>Celular: 87040492</li>
                        </ul> -->
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">

                  </div>
                </div>
              </div> <!-- /.Carta de Cliente -->
              {% endfor %}   
            </div>  
          </div>   
        </div>
  
      </section> <!-- /.Contenedor de fichas Clientes -->

{% endblock content %}