{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
    
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href=" {% static 'administrador/plugins/fontawesome-free/css/all.min.css' %} ">
    <!-- Theme style -->
    <link rel="stylesheet" href=" {% static 'administrador/dist/css/adminlte.min.css' %} ">
  </head>
  <body class="sidebar-mini" style="height: auto;">
  <div class="wrapper">
    <!-- Navbar -->
    
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 937px;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              
            </div>
            <div class="col-sm-6">
              
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        
          
            <!-- left column -->
            
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Gestionar Mensualidad</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                  {% csrf_token %}

                  <div class="card-body">
                    <div class="form-group">
                      <label for="first_name">Cliente</label>
                      <input type="text" class="form-control" name="nombre" id="nombre" value="{{userObj.first_name}} {{userObj.last_name}}"  readonly required>
                    </div>

                    <div class="form-group">
                      <label for="tipo_mensualidad">Tipo Mensualidad</label>
                      <select class="custom-select form-control-border" name="tipo_mensualidad" id="tipo_mensualidad">
                        <option value="0" {% if userInfoObj.tipo_mensualidad == 0 %}selected{% endif %}>Sin Mensualidad</option>
                        <option value="1" {% if userInfoObj.tipo_mensualidad == 1 %}selected{% endif %}>Una Clase Semanal</option>
                        <option value="2" {% if userInfoObj.tipo_mensualidad == 2 %}selected{% endif %}>Dos Clases Semanales</option>
                        <option value="3" {% if userInfoObj.tipo_mensualidad == 3 %}selected{% endif %}>Tres Clases Semanales</option>
                        <option value="4" {% if userInfoObj.tipo_mensualidad == 4 %}selected{% endif %}>Cuatro Clases Semanales</option>
                        <option value="5" {% if userInfoObj.tipo_mensualidad == 5 %}selected{% endif %}>Una Clase Acroyoga Semanal</option>
                        <option value="6" {% if userInfoObj.tipo_mensualidad == 6 %}selected{% endif %}>Dos Clases Acroyoga Semanales</option>
                      </select>
                    </div>
                    

                    
                    <div class="form-group">
                          <label for="first_name">Monto</label>
                          <input type="text" class="form-control" id="monto" name="monto" value=""  readonly required></input>
                    </div>

                    <script>
                        function cambios(tipo_mensualidad){
                            b = document.getElementById("monto");

                            if(tipo_mensualidad==1){
                                b.value = '15 000 ₡';
                            } else if (tipo_mensualidad==0){
                                b.value = 'N/A';
                            } else if (tipo_mensualidad==2){
                                b.value = '20 000 ₡';
                            } else if (tipo_mensualidad==3){
                                b.value = '25 000 ₡';
                            } else if (tipo_mensualidad==4){
                                b.value = '30 000 ₡';
                            } else if (tipo_mensualidad==5){
                                b.value = '20 000 ₡';
                            } else if (tipo_mensualidad==6){
                                b.value = '30 000 ₡';
                            } 
                    
                        }

                        let tipo_mensualidad = document.getElementById("tipo_mensualidad").value;
                        cambios(tipo_mensualidad);

                        let select_tipo_mensualidad = document.getElementById("tipo_mensualidad");
                        select_tipo_mensualidad.addEventListener("change", () => {
                            tipo_mensualidad = document.getElementById("tipo_mensualidad").value;
                            cambios(tipo_mensualidad);
                        })
                    </script>


                    <div class="form-group">
                        <label for="mensualidad_aldia">Estado Mensualidad</label>
                        <select class="custom-select form-control-border" name="mensualidad_aldia">
                          <option {% if userInfoObj.mensualidad_aldia == 'aldia'%} selected {% endif %} value="al dia">Al dia</option>
                          <option {% if userInfoObj.mensualidad_aldia == 'atrasado' %} selected {% endif %}  value="atrasado">Atrasado</option>
                          <option {% if userInfoObj.mensualidad_aldia == 'N/A' %} selected {% endif %} value="N/A">N/A</option>
                          <option {% if userInfoObj.mensualidad_aldia == 'cancelada'%} selected {% endif %} value="cancelada">Cancelada</option>
                        </select>
                      </div>

                    <div class="form-group">
                      <label for="ultima_mensualidad">Último pago</label>
                      <input type="date" class="form-control" value="{{userInfoObj.ultima_mensualidad|date:'Y-m-d'}}" name="ultima_mensualidad" placeholder="fecha">
                    </div>
                    </div>
                    
                    

                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
              <!-- general form elements -->
              <div class="card card-primary">
                
                <!-- /.card-header -->
                
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
              <!-- Input addon -->
              <div class="card card-info">
                
                
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              
  
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" style="display: none;">
      <!-- Control sidebar content goes here -->
    <div class="p-3 control-sidebar-content"><h5>Customize AdminLTE</h5><hr class="mb-2"><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Dark Mode</span></div><h6>Header Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Dropdown Legacy Offset</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>No border</span></div><h6>Sidebar Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Collapsed</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><div class="mb-1"><input type="checkbox" value="1" checked="checked" class="mr-1"><span>Sidebar Mini</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Mini MD</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Mini XS</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Flat Style</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Legacy Style</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Compact</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Child Indent</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Nav Child Hide on Collapse</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Disable Hover/Focus Auto-Expand</span></div><h6>Footer Options</h6><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Fixed</span></div><h6>Small Text Options</h6><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Body</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Navbar</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Brand</span></div><div class="mb-1"><input type="checkbox" value="1" class="mr-1"><span>Sidebar Nav</span></div><div class="mb-4"><input type="checkbox" value="1" class="mr-1"><span>Footer</span></div><h6>Navbar Variants</h6><div class="d-flex"><select class="custom-select mb-3 text-light border-0 bg-white"><option class="bg-primary">Primary</option><option class="bg-secondary">Secondary</option><option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option><option class="bg-indigo">Indigo</option><option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option><option class="bg-lightblue">Lightblue</option><option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option><option class="bg-gray-dark">Gray dark</option><option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option><option class="bg-white">White</option><option class="bg-orange">Orange</option></select></div><h6>Accent Color Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Dark Sidebar Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 text-light border-0 bg-primary"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Light Sidebar Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-warning">Warning</option><option class="bg-info">Info</option><option class="bg-danger">Danger</option><option class="bg-success">Success</option><option class="bg-indigo">Indigo</option><option class="bg-lightblue">Lightblue</option><option class="bg-navy">Navy</option><option class="bg-purple">Purple</option><option class="bg-fuchsia">Fuchsia</option><option class="bg-pink">Pink</option><option class="bg-maroon">Maroon</option><option class="bg-orange">Orange</option><option class="bg-lime">Lime</option><option class="bg-teal">Teal</option><option class="bg-olive">Olive</option></select><h6>Brand Logo Variants</h6><div class="d-flex"></div><select class="custom-select mb-3 border-0"><option>None Selected</option><option class="bg-primary">Primary</option><option class="bg-secondary">Secondary</option><option class="bg-info">Info</option><option class="bg-success">Success</option><option class="bg-danger">Danger</option><option class="bg-indigo">Indigo</option><option class="bg-purple">Purple</option><option class="bg-pink">Pink</option><option class="bg-navy">Navy</option><option class="bg-lightblue">Lightblue</option><option class="bg-teal">Teal</option><option class="bg-cyan">Cyan</option><option class="bg-dark">Dark</option><option class="bg-gray-dark">Gray dark</option><option class="bg-gray">Gray</option><option class="bg-light">Light</option><option class="bg-warning">Warning</option><option class="bg-white">White</option><option class="bg-orange">Orange</option><a href="#">clear</a></select></div></aside>
    <!-- /.control-sidebar -->
  <div id="sidebar-overlay"></div></div>
  <!-- ./wrapper -->
  
  <!-- jQuery -->
  <script src=" {% static 'administrador/plugins/jquery/jquery.min.js' %} "></script>
  <!-- Bootstrap 4 -->
  <script src=" {% static 'administrador/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <!-- bs-custom-file-input -->
  <script src=" {% static 'administrador/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>
  <!-- AdminLTE App -->
  <script src=" {% static 'administrador/dist/js/adminlte.min.js' %} "></script>
  <!-- AdminLTE for demo purposes -->
  <script src=" {% static 'administrador/dist/js/demo.js' %} "></script>
  <!-- Page specific script -->
  <script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>
  </body>

  {% endblock content %}