{% load static %}

<head>
  

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fontawesome-free/css/all.min.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {% static 'administracion/dist/css/adminlte.min.css' %} ">

  <!-- REQUIRED SCRIPTS -->
  <!-- jQuery -->
  <script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
  <!-- Bootstrap 4 -->
  <script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.js' %} "></script>
  <!-- AdminLTE App -->
  <script src=" {% static 'administracion/dist/js/adminlte.min.js' %} "></script>

</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
  
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="brand-text font-weight-light nav-link" style="cursor: default;" href="{% url 'home' %}" >
            <img src=" {% static 'administracion/dist/img/kalayoga_logo.jpg' %} " alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8 ">
          Administración</a>
        </li>

        <li class="nav-item">
          <a href=" {% url 'calendario' %} " class="nav-link">Clases</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'productos' %}" class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'clientes' %}" class="nav-link">Clientes</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'registrar' %}" class="nav-link">Registrar</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'horario' %}" class="nav-link">Horario</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mensajes' %}" class="nav-link">Mensajes</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'guia' %}" class="nav-link">Guía</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

       

        <!-- Botón Cerrar Sesion -->
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer" data-toggle="modal" data-target="#ModalCerrarSesionn">Cerrar Sesión</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'login_admin' %}" class="nav-link">Iniciar Sesión</a>
          </li>
        {% endif %}

    </ul>

</nav>




  <!-- Modal Cerrar Sesion -->
<div class="modal fade" id="ModalCerrarSesionn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cerrar Sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea cerrar sesion?
      </div>
      <div class="modal-footer">
        <a href="{% url 'logout_admin' %}" type="button" class="btn btn-primary">Cerrar Sesión</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>
 

</body>

