{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- Tabla -->
<div class="container card mt-3">
    <div class="card-header">
      <h3 style="text-align:True" class="card-title" >Notificaciones</h3>

      <div class="card-tools d-flex">

        <div class="input-group input-group-sm ml-2" style="width: 150px;">

          

          
        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Notificacion</th>
            
          </tr>
        </thead>
        <tbody>
          {% for a in notificaciones %}
            <tr>
            <td>
                {% if a.visto == 0 %}
                <p style="color:red"> Sin ver </p>
                
                {% else %}
                Visto
                {% endif %}
            </td>
              <td>{{a.mensaje}}</td>
              
            </tr>
          {% endfor %}
          </tbody>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.content -->
</div>

{% endblock content %}


<li class="notif-list nav-item dropdown">
  <a class="nav-link" data-toggle="dropdown" href="#" data-target="#vamoos">
    <i class="far fa-bell"></i>
    <span class="badge badge-warning navbar-badge"></span>
  </a>
  <div class="notifdiv dropdown-menu dropdown-menu-lg dropdown-menu-right" id="vamoos">

    <span class="ajaxRes dropdown-item dropdown-header" >Cargando...</span>
    <div class="notifdiv2">
      <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item dropdown-footer">No hay notificaciones</a>
  </div>

  <div class="dropdown-divider"></div>
    <a href="{% url 'notificaciones' %}" class="dropdown-item dropdown-footer"> Ver Historial</a>
  </div>       
</li>



{% csrf_token %}
<!-- Llamado de notificaciones -->
<script type="text/javascript">
  $(document).ready(function(){
    let bntNotifs;
    const getCsrfToken = () => {
      let token = $("input[name=csrfmiddlewaretoken]").val();
      return token;
    }
    
    setInterval(function(){
    
    $.ajax({
        url:"{% url 'get_notifs' %}",
        dataType:'json',
        beforeSend:function(){
          // $(".ajaxRes").show();
          // $(".ajaxRes").text('Notificaciones');
        },
        success:function(res){
            // console.log(res);
              // let reservas = 0;
              // let registros = 0;
             _html='';
             _json=$.parseJSON(res.data);
             $.each(_json,function(index,d){
                  // if(d.fields.tipo=='reservacion'){
                  //     reservas ++;
                  // }
                  // else{
                  //   registros ++;
                  // }
                  
                  _html += `<p class="dropdown-item">
                              <i class="fas fa-users mr-2"></i>
                              ${d.fields.mensaje}
                              <button class=" float-right boton-notif" data-idnotif='${d.pk}' style="border:none; background-color:transparent" >
                                 <i class="far fa-eye"></i>
                              </button>
                            </p>`;
             });
             if(_json !=""){
              $(".notifdiv2").html(_html);
             }
             else{
              _html = `<div class="notifdiv2">
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item dropdown-footer">No hay notificaciones</a>
                      </div>`;
              $(".notifdiv2").html(_html);     
             }
            
            bntNotifs = document.querySelectorAll('.boton-notif');
            // console.log(bntNotifs);
            $(".ajaxRes").text('Notificaciones');
            $(".badge").text(res.cuenta);
            bntNotifs.forEach((btn)=>{
                let idNotif = btn.dataset.idnotif;
                // console.log(btn.dataset);
                btn.onclick =()=>{
                  $.ajax({
                    url:"{% url 'post_notifs' %}",
                    method:'post',
                    dataType:'json',
                    data: {'id':idNotif},
                    headers: {
                      'X-CSRFTOKEN': getCsrfToken()
                    },
                    success:function(res){
                        console.log(res)
                    }
                  })
                }
            })

        }
    });
    
  },1000);
  });
</script>