{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Forgot Password (v2)</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/fontawesome-free/css/all.min.css' %} ">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href=" {% static 'administracion/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href=" {% static 'administracion/dist/css/adminlte.min.css' %} ">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href=" {% static 'administracion/index2.html' %} " class="h1"><b>Kala</b>Yoga</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">¿Olvidaste tu contraseña? Aquí puede recuperarla fácilmente.</p>
      
      <!-- <form action="recover-password.html" method="post"> -->
        <form action="{% url 'password-reset' %}">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Correo electrónico" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Solicitar nueva contraseña</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href=" {% url 'login_admin' %} ">Iniciar Sesión</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
<!-- Bootstrap 4 -->
<script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!-- AdminLTE App -->
<script src=" {% static 'administracion/dist/js/adminlte.min.js' %} "></script>
</body>
</html>
