{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
    
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href=" {% static 'administrador/plugins/fontawesome-free/css/all.min.css' %} ">
    <!-- Theme style -->
    <link rel="stylesheet" href=" {% static 'administrador/dist/css/adminlte.min.css' %} ">
  </head>
  <body class="sidebar-mini" style="height: auto;">
  <div class="wrapper">
    <!-- Navbar -->
    
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 937px;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              
            </div>
            <div class="col-sm-6">
              
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="container content">
        
          
            <!-- left column -->
            
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Registro Nuevo Cliente</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" action="{% url 'registrar' %}">
                  {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre</label>
                      <input type="text" class="form-control" name="nombre" id="exampleInputEmail1" placeholder="Ingrese nombre" minlength="3" maxlength="30" title="Se permite solo letras"  required pattern="[a-zA-Z][a-zA-Z ]+" >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Apellidos</label>
                      <input type="text" class="form-control" name="apellidos" id="exampleInputEmail1" placeholder="Ingrese apellidos"  minlength="3" maxlength="30" title="Se permite solo letras"  required pattern="[a-zA-Z][a-zA-Z ]+" >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Cédula</label>
                      <input type="text" class="form-control" name="cedula" id="exampleInputEmail1" placeholder="Ingrese cédula"  minlength="9"  maxlength="15" title="Se permite solo numeros" required pattern="[0-9]+">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Celular</label>
                      <input type="number" class="form-control" name="celular" id="celular" placeholder="Ingrese celular" min="8" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo Electrónico</label>
                      <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Ingrese correo electrónico" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Edad</label>
                      <input type="number" class="form-control" name="edad" id="exampleInputEmail1" placeholder="Ingrese edad" min="1" max="110" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Género</label>
                      <select class="custom-select form-control-border" name="genero">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Otro">Otro</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Lesiones</label>
                      <input type="text" class="form-control" name="lesiones" id="exampleInputEmail1" placeholder="Ingrese lesiones" minlength="3" maxlength="50"required pattern="[a-zA-Z][a-zA-Z ]+">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Padecimientos</label>
                      <input type="text" class="form-control" name="padecimientos" id="exampleInputEmail1" placeholder="Ingrese padecimientos" minlength="3" maxlength="50" required pattern="[a-zA-Z][a-zA-Z ]+" >
                    </div>                    
                    </div>
                    
                  </div>
                  <!-- /.card-body -->
                  {% if messages %}
                    {% for message in messages %}
                      <small class={message.tags} style="color:red ">{{message}}</small>
                    {% endfor %}
                  {% endif %}
                  <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Registrar"/>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
              <!-- general form elements -->
              <div class="card card-primary">
                
                <!-- /.card-header -->
                
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
              <!-- Input addon -->
              <div class="card card-info">
                
                
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              
  
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
  <div id="sidebar-overlay"></div></div>
  <!-- ./wrapper -->
  
  <!-- jQuery -->
  <script src=" {% static 'administrador/plugins/jquery/jquery.min.js' %} "></script>
  <!-- Bootstrap 4 -->
  <script src=" {% static 'administrador/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <!-- bs-custom-file-input -->
  <script src=" {% static 'administrador/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>
  <!-- AdminLTE App -->
  <script src=" {% static 'administrador/dist/js/adminlte.min.js' %} "></script>
  
  <!-- Page specific script -->
  <script>
  $(function () {
    bsCustomFileInput.init();
  });
  </script>
  
  
  </body>

  {% endblock content %}