{% load static %}

<div>
    <div class="faq-wrap">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Historial de pedidos
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <thead>
                                <th>Fecha</th>
                                <th># Orden</th>
                                <th>Estado</th>
                                <th>Nombre</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"></th>
                            </thead>
                            <tbody>
                                {% for pedido in pedidos_realizados%}
                                    <tr>
                                        <td>
                                            {{ pedido.fecha_confirmado }}
                                        </td>
                                        <td>
                                            {{ pedido.id }}
                                        </td>
                                        <td>
                                            {% if pedido.estado == 'EN_PROGRESO' %}
                                                <span class="badge bg-warning">En progreso</span>
                                            {% elif pedido.estado == 'CONFIRMADO' %}
                                                <span class="badge bg-success">Confirmado</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ request.user.first_name }} {{ request.user.last_name }}
                                        </td>
                                        <td>
                                            ₡ {{ pedido.total_orden }}
                                        </td>
                                        <td class="text-center">
                                            <button data-orden-id="{{pedido.id}}" class="btn-open-details btn btn-sm btn-outline-info p-2">
                                                Ver detalle
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-detalle-orden" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalle orden</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let btnsDetails = document.querySelectorAll('.btn-open-details');
    
    const BASE_URL = `${window.location.origin}`;

    const instance = axios.create({
        baseURL: BASE_URL
    });

  const Api = {
    //Get CSRF Token from the hidden input rendered on modal add event
    getCsrfToken: () => {
      let token = $("input[name=csrfmiddlewaretoken]").val();
      return token;
    },
    getOrdenDetails: (id, callback) => {
      instance
        .get(`carrito/orden/${id}/detalle`)
        .then((res) => callback(null, res.data))
        .catch((err) => callback(err));
    }
  };

  const detail_table = (data) => {
    let trs = '';

    data.forEach(d => {
        console.log(d)
        trs += `
            <tr>
                <td>
                    <img src="${d.imagen}" style="width: 100px; heigth: auto;"/>
                </td>
                <td>${d.nombre}</td>
                <td>${d.cantidad}</td>
                <td>${d.total_detalle}</td>
            </tr>
        `
    })
    return `
    <table class="table">
        <thead>
            <th></th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Total</th>
        </thead>
        <tbody>
            ${trs}
        </tbody>
    </table> 
  `}
    btnsDetails.forEach(btn => {
        let orden_id = btn.dataset.ordenId;

        btn.onclick = () => {
            let modal = new bootstrap.Modal(document.getElementById('modal-detalle-orden'), {});
            let modalBody = document.querySelector('.modal-body');
            Api.getOrdenDetails(orden_id, (err, res) => {
                if(err) {
                    console.log(err)
                    return alert('No hemos podido recuperar los detalles de tu orden, intentalo mas tarde')
                }
                console.log(res)
                modalBody.innerHTML = detail_table(res);
                modal.show();
            });
        }
    });

</script>