<div>
    <div class="col-lg-12 col-md-12">
        <div class="faq-wrap">
            <div class="accordion" id="accordionExample">
                
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Activas
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <thead>
                                    <th>Clase</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Precio</th>
                                    <th class="text-center">Acciones</th>
                                </thead>
                                <tbody>

                                    {% for a in reservasActivas %}
                                    <tr>
                                        <td>
                                            <span class="header-btn second-header-btn">{{a.evento.tipoClase.nombre}}</span>
                                        </td>
                                        <td class="date">
                                            {{a.evento.fecha}}
                                        </td>
                                        <td>
                                            {{a.evento.tipoClase.horario_inicio}}
                                        </td>

                                        <td>
                                            {% if usuario.tipo_mensualidad == 0 %}
                                            {{a.evento.tipoClase.precio}}₡

                                            {% else %}
                                            Mensualidad
                                            {% endif %}
                                        </td>

                                        <td class="text-center">
                                            
                                                <a class="btn p-2 mr-2" href="{% url 'cancelar_reserva' a.id %}">Cancelar</a> 
                                            
                                            
                                        </td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                            <small>Si no tienes mensualidad, deberás cancelar el monto el día de la clase en el estudio.</small>
                        </div>
                    </div>
                </div>
                



                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Historial
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse show " aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <thead>
                                    <th>Reserva</th>
                                    <th>Fecha</th>
                                    <th>Bloque</th>
                                </thead>
                                <tbody>

                                    {% for a in historialReservas %}
                                    <tr>
                                        <td>
                                            <span>{{a.evento.tipoClase.nombre}}</span>
                                        </td>
                                        <td class="date">
                                            {{a.evento.fecha}}
                                        </td>
                                        <td>
                                            {{a.evento.tipoClase.horario_inicio}}
                                        </td>
                                        
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>