{% extends 'index.html' %}

{% load static %}

{% block body %}

<main>
    <div class="container m-4 d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-lg-6 order-1">
                <img src=" {% static 'client/img/bg/contact-img.jpg' %} " alt="img">
            </div>
            <div class="col-lg-6 order-2 d-flex align-items-center">
                <div class="contact-bg02 pl-60 wow fadeInLeft  animated">
                    {% if validlink == False %}
                    <h4>Este enlace ya no se encuentra disponible</h4>
                    {% else %}
                    <div class="section-title center-align">
                        <h4>
                            Crear nueva contraseña
                        </h4>
                    </div>

                    <form action="" method="post" class="contact-form mt-35" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-lg-12">
                                <div class="contact-field p-relative c-subject mb-30">
                                    <input type="password" id="contrasena" name="password" placeholder="Contraseña" required>
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="contact-field p-relative c-subject mb-30">
                                    <input type="password" id="contrasena_confirm" name="password_confirm" placeholder="Confirmar contraseña" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="slider-btn">
                                    <button type="submit" class="btn ss-btn active" data-animation="fadeInRight"
                                        data-delay=".8s">Cambiar contraseña</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock body %}