<div>
    <form action="" method="post">
    {% csrf_token %}
        <div class="col-lg-12 col-md-8">
            <div class="cuenta contact-field p-relative c-name mb-3">
                <label class="text-capitalize mb-2" for="firstn">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" value="{{user.first_name}}" required>
            </div>

            <div class="cuenta contact-field p-relative c-name mb-3">
                <label class="text-capitalize mb-2" for="firstn">Apellidos</label>
                <input type="text" id="apellido" name="apellido" placeholder="Nombre completo" value="{{user.last_name}}" required>
            </div>

            <div class="cuenta contact-field p-relative c-name mb-3">
                <label class="text-capitalize mb-2" for="firstn">Edad</label>
                <input type="number" id="celular" name="edad" placeholder="Edad"  value="{{usuario.edad}}" required>
            </div>

            <div class="cuenta contact-field p-relative c-name mb-3">
                <label class="text-capitalize mb-2" for="firstn">Correo electrónico</label>
                <input type="text" id="correo" name="correo" placeholder="Correo electrónico" value="{{user.email}}">
            </div>

            <div class="cuenta contact-field p-relative c-name mb-3">
                <label class="text-capitalize mb-2" for="firstn">Celular</label>
                <input type="text" id="celular" name="celular" placeholder="Numero de celular"  value="{{usuario.celular}}">
            </div>

            <div class="cuenta contact-field p-relative c-name mb-3">
                <label class="text-capitalize mb-2" for="firstn">Genero</label>
                        {% if usuario.genero == "Masculino" %}
                        <select  name="genero">
                            <option value="Masculino" selected>Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">No indicar</option>
                        </select>
                        {% elif usuario.genero == "Femenino" %}
                        <select name="genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino" selected>Femenino</option>
                            <option value="Otro">No indicar</option>
                        </select>
                        {% elif usuario.genero == "Otro" %}
                        <select name="genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro" selected>No indicar</option>
                        </select>
                        {% endif %}
            </div>
            

            <div class="cuenta contact-field p-relative c-name mb-3">
                <label class="text-capitalize mb-2" for="tipo_mensualidad">Tipo Mensualidad</label>
                <input type="text" id="tipo_mensualidad" name="tipo_mensualidad" placeholder="Numero de celular"  value="{{usuario.tipo_mensualidad}}" readonly required>
            </div>

            {% if usuario.tipo_mensualidad == 0 %}
            <small>Acude a Kala y consulta por nuestras mensualidades</small>
            {% endif %}

            <div class="col-lg-12">
                {% if usuario.padecimientos == None %}
                    <div class="cuenta contact-field p-relative c-message mb-30">
                        <label for="message" class="text-capitalize">Padecimientos</label>
                        <textarea name="padecimientos" id="message" cols="30" rows="10"
                            placeholder="Ingrese aquí información relacionada a sus padecimientos y/o enfermedades  que debamos tomar en cuenta en las sesiones"></textarea>
                    </div>
                {% else %}
                    <div class="cuenta contact-field p-relative c-message mb-30">
                        <label for="message" class="text-capitalize">Padecimientos</label>
                        <textarea name="padecimientos" id="message" cols="30" rows="10"
                            placeholder="Ingrese aquí información relacionada a sus padecimientos y/o enfermedades  que debamos tomar en cuenta en las sesiones">{{usuario.padecimientos}}</textarea>
                    </div>
                {% endif %}
            </div>

            <div class="col-lg-12">
                {% if usuario.lesiones == None %}
                    <div class="cuenta contact-field p-relative c-message mb-30">
                        <label for="message" class="text-capitalize">Lesiones</label>
                        <textarea name="lesiones" id="message" cols="30" rows="10"
                            placeholder="Ingrese aquí información relacionada a lesiones, golpes o dolores musculares que debamos tomar en cuenta en las sesiones"></textarea>
                    </div>
                {% else %}
                    <div class="cuenta contact-field p-relative c-message mb-30">
                        <label for="message" class="text-capitalize">Lesiones</label>
                        <textarea name="lesiones" id="message" cols="30" rows="10"
                            placeholder="Ingrese aquí información relacionada a lesiones, golpes o dolores musculares que debamos tomar en cuenta en las sesiones">{{usuario.lesiones}}</textarea>
                    </div>
                {% endif %}

                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
            </div>
                
        </div>
    </form>
</div>

<style>

    .cuenta label{
        color: rgb(75, 75, 75);
    }

    .cuenta input{
        height: 40px !important;
        border-color: rgb(209, 209, 209);
    }

    .cuenta textarea{
        border-color: rgb(209, 209, 209);
    }

    .cuenta select{
        border-radius: 10px;
        border-color: rgb(209, 209, 209);
        padding-left: 10px;
    }
</style>