{% extends 'index.html' %}

{% load static %}

{% block body%}

<div class="container">
<h4>Lo sentimos. Esta página no se encuentra.</h4>
<h6>Ir al <a href="{% url 'inicio' %}">inicio</a> </h6>
</div>

{% endblock body%}