{% extends 'index.html' %}

{% load static %}

{% block body %}

<!-- breadcrumb-area -->
<section class="breadcrumb-area d-flex align-items-center" style="background-image:url( {% static 'client/img/bg/bdrc-bg.png' %} )">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="breadcrumb-wrap text-left">
                    <div class="breadcrumb-title">
                        <h2>Ayuda</h2>
                        <div class="breadcrumb-wrap">

                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href=" {% static 'client/index.html' %} ">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Ayuda</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- Classes-area -->
<section class="class-area fix p-relative pt-110 pb-90" style="background: #f6f8fc;">
    <div class="animations-01"><img src="{% static 'client/img/bg/an-img-01.png' %}" alt="an-img-01"></div>
    <div class="animations-02"><img src="{% static 'client/img/bg/an-img-02.png' %}" alt="an-img-02">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-relative">
                <div class="section-title center-align mb-50 text-center wow fadeInDown animated"
                    data-animation="fadeInDown" data-delay=".4s">
                    <h2>
                        Tutoriales de la Aplicación Kala
                    </h2>

                </div>
            </div>

        </div>
        <div class="row class-active">

            <!-- Video 1 -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                        <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                        style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/597af5e8-502a-45bc-8e2e-7326e1c4356b/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo me registro en Kala?</a></h4>
                        <p >Clickeá el botón "Registrarse" en la parte supérior derecha o en el menú si estás en dispositivo móvil.
                             Ingresá los datos personales solicitados, clickeá "Registrarse" al final del formulario y listo. Tendrás tu propia cuenta de Kala.</p>
                    </div>

                </div>
            </div>
            <!-- Video 1 -->

            <!-- Video 2 -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                            <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                            style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/b625b615-a104-487c-a426-b0593cc23d93/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo inicio sesión?</a></h4>
                        <p>Clickeá el botón "Iniciar Sesión" en la parte superior derecha o en el menú si estás en dispositivo móvil. 
                            Ingresá los datos solicitados, en este caso el correo eléctronico y la contraseña, validá el captcha al hacer click en el cuadrito blanco,
                             clickeá "INICAR SESIÓN" al final del formulario y listo.
                             Habrás ingresado a tu cuenta de Kala Yoga.</p>
                    </div>
                </div>
            </div>
            <!-- Video 2 -->

            <!-- Video 3 -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                            <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                            style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/4a427796-9e54-43a9-a602-738c84cfc7d1/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo veo y actualizo mi perfil?</a></h4>
                        <p>Una vez iniciada la sesión, podés dirigirte al botón que dice "¡Hola, Nombre!"* en la parte superior derecha, 
                            o en el menú si estás en dispositivo móvil. 
                            Ahí encontrarás la información que ingresaste al registrarte además de información importante para el instructor como padecimientos y lesiones.
                             Toda esta información la podés editar en caso de que deseés realizar un cambio ya sea por comodidad o porque cometiste un error.
                              La única información que no podés modificar es el tipo de mensualidad, esta solo puede ser modificada por un administrador.
                           <br>*El nombre es el que ingresaste a la hora de registrarse.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Video 3 -->

            <!-- Video 4 -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                            <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                            style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/d7b3b864-6bce-438b-b3ef-423382bdac59/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo reservo una clase?</a></h4>
                        <p>Una vez iniciada la sesión, dirigete al botón de "Clases" en la parte superior de la página. Podrás ver la lista de clases disponibles y podés hacerle click a la que desees reservar.
                            <br>Luego, podés ver información sobre esa clase y los horarios disponibles para realizar la reserva que desees.
                            <br>Una vez le hagás click al botón "Reservar Ahora" aparecerá una pantalla para confimar la reserva, donde podrás seleccionar la fecha y el horario deseado mediante una cajita,
                             luego podés darle click al botón "Confirmar" si querés reservar esa fecha y horario, si no, podés darles al botón "Después" para cancelar la reserva
                        </p>
                    </div>
                </div>
            </div>
            <!-- Video 4 -->

            <!-- Video 5 -->
             <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                            <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                            style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/6cbd44d4-dcf9-40b2-8b84-8b584fa6ba7a/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo revisar/cancelar reservaciones?</a></h4>
                        <p>Una vez iniciada la sesión, podés dirigirte al botón que dice "¡Hola, Nombre!"* en la parte superior derecha, 
                            o en el menú si estás en dispositivo móvil. 
                            <br>Una vez ahí, dale click al botón que dice "Mis Reservas" para poder ver todas las reservas activas, osea, que están por realizarse, y también hay un historial de reservas donde podés ver todas las reservas que has realizado en el pasado.
                            <br>En las reservas activas, podés ver la fecha, hora y también el precio por si la mensualidad que tenés no cubre ese tipo de clase y 
                            tenés que pagar esa clase cuando llegués al estudio.
                            <br>Para cancelar alguna reserva, podés hacerlo dandole al botón "CANCELAR" en la reserva que deseás cancelar.
                           <br>*El nombre es el que ingresaste a la hora de registrarse.</p>
                    </div>
                </div>
            </div>
            <!-- Video 5 -->

            <!-- Video 6 -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                            <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                            style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/81307f25-532d-4a48-910f-87005afe40a2/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo añadir productos al carrito?</a></h4>
                        <p>Una vez iniciada la sesión, dirigete al botón de "Tienda" en la parte superior de la página y dale click. 
                            Podrás ver la lista de productos disponibles y podés hacerle click a cualquiera,
                             esto te llevara a otra página con todos los detalles sobre este producto como lo son la descripción, el precio y también la cantidad que deseés.
                            <br>Si querés añadir el producto a tu pedido, podés darle click al botón que dice "AÑADIR AL CARRITO".
                            <br>Una vez que hagás click en el botón "AÑADIR AL CARRITO" podrás ver tu carrito y el producto que acabas de añadir a este.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Video 6 -->

            <!-- Video 7 -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                            <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                            style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/921a798e-4e22-4477-9e35-c841b2e6ea0e/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo gestionar mi carrito y confirmar pedido?</a></h4>
                        <p>Una vez iniciada la sesión, dirigete al botón con el ícono de un carrito de supermercado que dice "# articulo(s)"* en la parte superior de la página y dale click. 
                            <br>Podrás ver la lista de productos que has añadido al carrito y podés ver la imagen, el nombre del producto, la descripción,
                             la cantidad que seleccionaste, el precio por unidad, el precio de los productos en conjunto en caso de pedir más de un mismo producto
                              un botón que dice "ELIMINAR" para eliminar productos de tu pedido, el total a pagar, y un botón para confimar el pedido que dice "CONFIRMAR".
                            <br>Si querés confirmar tu pedido podés darle al botón que dice "CONFIRMAR" y el estudio se contactara contigo para que la proxima vez que vayas
                            al estudio pagués por tus productos y los podás recoger.
                            <br>Luego podés dirigirte al botón que dice "¡Hola, Nombre!"** en la parte superior derecha, o en el menú si estás en dispositivo móvil.
                            <br>Una vez en tu perfil dale click al botón que dice "Mis Pedidos" para ver tus pedidos activos que tenés que pagar.
                            <br>*El # se refiere al número de productos que has agregado al carrito
                            <br>**El nombre es el que ingresaste a la hora de registrarse.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Video 7 -->

            <!-- Video 8 -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="class-item mb-30">
                    <div class="class-img hover-zoomin">
                        <div class="class-img-outer">
                            <!-- copy and paste. Modify height and width if desired. -->
                            <iframe class="embeddedObject shadow resizable" name="embedded_content" scrolling="no" frameborder="0" type="text/html" 
                            style="overflow:hidden; background:url('{% static 'administracion/dist/img/loader.gif' %}') 0px 0px no-repeat;" src="https://www.screencast.com/users/joseruizsuarez/folders/Capture/media/d127b408-0d48-4458-8121-db0a47f59d52/embed" height="273" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="class-content"> 
                        <h4 class="title"><a>¿Cómo me contácto con el estudio?</a></h4>
                        <p>Dirigete al botón que dice "Contacto" en la parte superior de la página y dale click
                            <br>Podrás ver la página de contacto donde te piden tu nombre, correo eléctronico, número celular y el mensaje que querás enviar.
                            <br>Para enviar la consulta que tengás, le das click al botón que dice "ENVIAR" y el mensaje le llegara al encargado que te contestara lo más pronto posible.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Video 8 -->
        </div>
    </div>
</section>
<!-- classes-area-end -->

{% endblock body %}