{% extends 'index.html' %}

{% load static %}

{% block body %}

<!-- main-area -->
<main>
            
    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center" style="background-image:url({% static 'client/img/bg/bdrc-bg.png' %})">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>About Us</h2>    
                            <div class="breadcrumb-wrap">
                      
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->
    <!-- about-area -->
    <section class="about-area about-p pt-120 pb-120 p-relative fix">
        <div class="animations-03"><img src="{% static 'client/img/bg/an-img-03.png' %}" alt="an-img-01"></div>
        <div class="animations-05"><img src="{% static 'client/img/bg/an-img-05.png' %}" alt="contact-bg-an-01"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                 <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                        <img src="{% static 'client/img/features/about_img.png' %}" alt="img">   
                        <div class="about-text second-about">
                            <img src="{% static 'client/img/features/logo-icon.png' %}" alt="img">  
                        </div>
                    </div>
                  
                </div>
                
            <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="about-content s-about-content  wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                        <div class="about-title second-title pb-25">  
                            <h2>Make Balance Body & Mind</h2>                                   
                        </div>
                           <p>Curabitur sodales commodo orci nec fermentum. Nam lacus ex, efficitur a fermentum a, auctor in ipsum. Pellentesque iaculis ultricies odio, in gravida magna feugiat bibendum. Vestibulum vel tempor dolor.</p>
                          <p>Sed sed sem diam. Cras quis mattis ex, ac maximus ante. Quisque sed suscipit sem, id pretium diam. Maecenas consectetur eros eget libero scelerisque finibus.</p>
                         <div class="row align-items-center mt-30">
                            <div class="col-md-3">
                                <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="popup-video"><img src="{% static 'client/img/features/a-video.png' %}" alt="img"> </a>
                             </div>
                            <div class="col-md-9"><h3>Click On This Video To Check How Work With Our Clients</h3></div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </section>
    <!-- about-area-end -->
      <!-- brand-area -->
    <div class="brand-area fix p-relative">
        <div class="container">
            <div class="brand-anim-01"><img src="{% static 'client/img/bg/brand-bg-an-01.png' %}"  alt="an-img-01"></div>
        <div class="brand-anim-02"><img src="{% static 'client/img/bg/brand-bg-an-02.png' %}" alt="contact-bg-an-01"></div>
            <div class="row brand-active">
                <div class="col-xl-2">
                    <div class="single-brand">
                         <img src="{% static 'client/img/brand/b-logo1.png' %}" alt="img">
                    </div>
                </div>
               <div class="col-xl-2">
                    <div class="single-brand">
                             <img src="{% static 'client/img/brand/b-logo2.png' %}" alt="img">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                          <img src="{% static 'client/img/brand/b-logo3.png' %}" alt="img">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                          <img src="{% static 'client/img/brand/b-logo4.png' %}" alt="img">
                    </div>
                </div>
                 <div class="col-xl-2">
                    <div class="single-brand">
                         <img src="{% static 'client/img/brand/b-logo5.png' %}" alt="img">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                         <img src="{% static 'client/img/brand/b-logo6.png' %}" alt="img">
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="single-brand">
                          <img src="{% static 'client/img/brand/b-logo3.png' %}" alt="img">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- brand-area-end -->
     <!-- testimonial-area -->
    <section class="testimonial-area pb-115 p-relative fix" style="background-color: #f6f8fc;">
         <div class="animations-01"><img src="{% static 'client/img/bg/an-img-08.png' %}" alt="an-img-01"></div>
        <div class="animations-02"><img src="{% static 'client/img/bg/an-img-09.png' %}" alt="contact-bg-an-01"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-50 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                        <h2>
                         What Our Clients Says
                        </h2>
                     
                    </div>
                   
                </div>
                
                <div class="col-lg-12">
                    <div class="testimonial-active">
                        <div class="single-testimonial">
                             <div class="testi-author">
                                <img src="{% static 'client/img/testimonial/testi_avatar.png' %}" alt="img">
                                <div class="ta-info">
                                    <h6>Margie Dose</h6>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>“Morbi neque nisi, tincidunt nec erat vitae, viverra porttitor lorem. Fusce tempor nunc at luctus blandit. Donec eget fermentum magna.we dedicate financial on services the teams serve all Curabitur ac tortor ante. Sed quis dignissim”</p>
                            <div class="qt-img">
                            <img src="{% static 'client/img/testimonial/qt-icon.png' %}" alt="img">
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testi-author">
                                <img src="{% static 'client/img/testimonial/testi_avatar_02.png' %}" alt="img">
                                <div class="ta-info">
                                    <h6>Jone Walker</h6>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                          <p>“Morbi neque nisi, tincidunt nec erat vitae, viverra porttitor lorem. Fusce tempor nunc at luctus blandit. Donec eget fermentum magna.we dedicate financial on services the teams serve all Curabitur ac tortor ante. Sed quis dignissim”</p>
                            
                             <div class="qt-img">
                            <img src="{% static 'client/img/testimonial/qt-icon.png' %}" alt="img">
                            </div>
                        </div>
                      <div class="single-testimonial">
                          <div class="testi-author">
                                <img src="{% static 'client/img/testimonial/testi_avatar_02.png' %}" alt="img">
                                <div class="ta-info">
                                    <h6>Dose Robot</h6>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>“Morbi neque nisi, tincidunt nec erat vitae, viverra porttitor lorem. Fusce tempor nunc at luctus blandit. Donec eget fermentum magna.we dedicate financial on services the teams serve all Curabitur ac tortor ante. Sed quis dignissim”</p>
                            
                            <div class="qt-img">
                            <img src="{% static 'client/img/testimonial/qt-icon.png' %}" alt="img">
                            </div>
                        </div>
                        <div class="single-testimonial">
                             <div class="testi-author">
                                <img src="{% static 'client/img/testimonial/testi_avatar.png' %}" alt="img">
                                <div class="ta-info">
                                    <h6>Jone Walker</h6>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                          <p>“Morbi neque nisi, tincidunt nec erat vitae, viverra porttitor lorem. Fusce tempor nunc at luctus blandit. Donec eget fermentum magna.we dedicate financial on services the teams serve all Curabitur ac tortor ante. Sed quis dignissim”</p>
                           
                             <div class="qt-img">
                            <img src="{% static 'client/img/testimonial/qt-icon.png' %}" alt="img">
                            </div>
                        </div>
                        <div class="single-testimonial">
                             <div class="testi-author">
                                <img src="{% static 'client/img/testimonial/testi_avatar_02.png' %}" alt="img">
                                <div class="ta-info">
                                   <h6>Margie Dose</h6>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <p>“Morbi neque nisi, tincidunt nec erat vitae, viverra porttitor lorem. Fusce tempor nunc at luctus blandit. Donec eget fermentum magna.we dedicate financial on services the teams serve all Curabitur ac tortor ante. Sed quis dignissim”</p>
                           
                            <div class="qt-img">
                            <img src="{% static 'client/img/testimonial/qt-icon.png' %}" alt="img">
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testi-author">
                                <img src="{% static 'client/img/testimonial/testi_avatar.png' %}" alt="img">
                                <div class="ta-info">
                                    <h6>Jone Walker</h6>
                                    <span>Web Designer</span>
                                </div>
                            </div>
                          <p>“Morbi neque nisi, tincidunt nec erat vitae, viverra porttitor lorem. Fusce tempor nunc at luctus blandit. Donec eget fermentum magna.we dedicate financial on services the teams serve all Curabitur ac tortor ante. Sed quis dignissim”</p>
                            
                             <div class="qt-img">
                            <img src="{% static 'client/img/testimonial/qt-icon.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-area-end -->
 
</main>
<!-- main-area-end -->





{% endblock body %}