{% extends 'index.html' %}

{% load static %}

{% block body %}

<main>

    <div class="container">
        {% if user.is_authenticated %}

            {% if productos_carrito %}
            
            <div class="col-2-md pt-5">
                <aside class="sidebar-widget">
                    <h2 class="widget-title mb-2">Resumen de carrito de compras: </h2>
                </aside>
            </div>
            
            <div class="user-cart-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Producto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio por unidad</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    {% for products in productos_carrito%}

                        <tr>
                            <th scope="row">
                                <img class="item" src="{{products.producto.imagen.url}}" alt="">
                            </th>
                            <td>{{products.producto.nombre}}</td>
                            <td>{{products.producto.descripcion}}</td>
                            <td id="cantidad-orden-actual" data-cantidad-actual="{{products.cantidad}}" data-cantidad-disponible="{{products.producto.cantidad}}" >{{products.cantidad}}</td>
                            <td>{{products.precio_unidad}}</td>
                            <td>{{products.total}}</td>
                            <td>
                                <form action="{% url 'delete-detalle-orden' products.producto.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm p-2" style="background-color: rgb(163, 51, 51); border-color: transparent;">
                                        Eliminar
                                    </button>
                                </form>
                            </td>

                            
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                
            </div>

            <div class="container">
    
                <hr>
                
                <!-- Confirmar Pedido -->
                
                <div class="container ">
                    <h4>Total: </h4>
                
                <div class="d-flex">
                    <button class=" btn btn-secondary mr-2" style="background-color: transparent;color: inherit;border-top-right-radius: 0%;border-bottom-right-radius: 0%;">₡ {{ total_orden }}</button>
                    <form action="{% url 'confirmar_pedido' orden_id %}" method="post">
                        {% csrf_token %}    
                        <button type="submit" class="btn btn-secondary" style="
                        border-top-left-radius: 0%;
                        border-bottom-left-radius: 0%;">
                            Confirmar
                        </button>
                    </form>
                </div>
                    
                </div>   
                <p></p>
                {% elif orden_confirmada%}
                <div class="col-2-md pt-5 mb-5 mt-3">
                    <aside class="sidebar-widget">
                        <h2 class="widget-title mb-5">Tu pedido ha sido confirmado, podrás ir al Estudio KalaYoga en San Isidro y cancelar mediante efectivo o sinpe móvil para poder retirar tus productos (Tienes 10 días a partir de hoy). Revisa en Tu Cuenta los pedidos pendientes de retirar.</h2>
                        <a href="/cuenta" class="btn btn-secondary" style="color: white">Ir a Mi Cuenta</a>
                    </aside>
                </div>
                {% else %}
                 <div class="col-2-md pt-5 mb-5 mt-3">
                    <aside class="sidebar-widget">
                        <h2 class="widget-title mb-5">Aun no tienes productos en el carrito</h2>
                        <a href="/cuenta" class="btn btn-secondary" style="color: white">Ir a tienda</a>
                    </aside>
                </div>
                 {% endif %} 
        {% else %}
        <div class="col-2-md pt-2 pb-2">
            <aside class="sidebar-widget">
                <h3 class="widget-title mb-2">Cuenta</h2>
            </aside>
        </div>
        
        <div class="col-4-md mb-4">
            <h6> ¿Ya tienes una cuenta?</h6>
            <a class="btn btn-primary pt-2 pb-2 mb-2 text-lowercase text-capitalize" href="/login"> Iniciar sesión</a>
        </div>

        <div class="col-4-md">
            <h6> Nuevo cliente</h6>
            <a class="btn btn-info pt-2 pb-2 mb-2 text-lowercase text-capitalize" href="/registro"> Registrarse</a>
        </div>
        {% endif %}

    </div>

</main>


{% endblock body %}