{% extends 'index.html' %}

{% load static %}

{% block body %}

   
    <body>
       
        <!-- main-area -->
        <main>
            
            <!-- breadcrumb-area -->
      
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url('{% static 'client/img/bg/bdrc-bg.png' %}')">
                
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Clases</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                                        <li class="breadcrumb-item active"  aria-current="page">Clases </li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

                 <!-- Classes-area -->
            <section class="class-area fix p-relative pt-110 pb-90" style="background: #f6f8fc;">   
                <div class="animations-01"><img src="{% static 'client/img/bg/an-img-01.png'%}" alt="an-img-01"></div>
                <div class="animations-02"><img src="{% static 'client/img/bg/an-img-02.png'%}" alt="contact-bg-an-01"></div>
                <div class="container">  
                   <div class="row">  
                    
                    {% for a in tipoClases %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="class-item mb-30">
                            <div class="class-img hover-zoomin">
                                <div class="class-img-outer">
                                    <img  src="{% static 'client/img/class/class-1.jpg'%}" alt="class image">
                                </div>                                    
                            </div>
                            <div class="class-content">
                                <div class="class-tech">
                                    <div class="img">
                                       <img src="{% static 'client/img/blog/admin-img.png'%}"  alt="class image2"> 
                                    </div>
                                    <div class="text">
                                        Antonio Vega
                                    </div>
                                </div>
                                
                                {% if a.dia == 'L' %}
                                <h4 class="title"><a href="{% url 'clase_detalle' a.id %}">{{a.nombre}} <br> Lunes  {{a.horario_inicio}}</a></h4>
                                {% elif a.dia == 'K' %}
                                <h4 class="title"><a href="{% url 'clase_detalle' a.id %}">{{a.nombre}} <br> Martes  {{a.horario_inicio}}</a></h4>
                                {% elif a.dia == 'M' %}
                                <h4 class="title"><a href="{% url 'clase_detalle' a.id %}">{{a.nombre}} <br> Miércoles  {{a.horario_inicio}}</a></h4>
                                {% elif a.dia == 'J' %}
                                <h4 class="title"><a href="{% url 'clase_detalle' a.id %}">{{a.nombre}} <br> Jueves  {{a.horario_inicio}}</a></h4>
                                {% elif a.dia == 'V' %}
                                <h4 class="title"><a href="{% url 'clase_detalle' a.id %}">{{a.nombre}} <br> Viernes  {{a.horario_inicio}}</a></h4>
                                {% elif a.dia == 'S' %}
                                <h4 class="title"><a href="{% url 'clase_detalle' a.id %}">{{a.nombre}} <br> Sábado  {{a.horario_inicio}}</a></h4>
                                {% endif %}
                                
                                <p maxlength="5">{{a.descripcion|truncatewords:20}}</p>
                            </div>
                           
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
            <!-- classes-area-end -->    
            <!-- video-area -->
            <section id="video" class="video-area p-relative" style="background-image:url({% static 'client/img/slider/slider-clases.jpg' %}); background-size: cover;">
                <div class="container">
                     <div class="row">
                        <div class="col-12">
                            <div class="s-video-wrap" >
                                <div class="s-video-content">
                                    <h2>Aprende más de Kala</h2>
                                   <h6><a href="http://www.youtube.com/watch?v=BD7rKPSzozk" class="popup-video mb-50"><img src="{% static 'client/img/bg/play-button.png' %}" alt="circle_right"></a></h6> 
                                   
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </section>
            <!-- video-area-end -->
             <!-- team-area -->
            <!-- <section class="team-area2 fix p-relative pt-105 pb-95" >  
                 <div class="animations-01"><img src="img/bg/an-img-06.png" alt="an-img-01"></div>
                <div class="animations-02"><img src="img/bg/an-img-07.png" alt="contact-bg-an-01"></div>
                <div class="container">  
                    <div class="row">   
                        <div class="col-lg-12 p-relative">
                           <div class="section-title center-align mb-50 text-center wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                                <h2>
                                Our Expert Team
                                </h2>
                             
                            </div>
                        </div>                        
                         
                    </div>
                   <div class="row team-active">                   
                        <div class="col-xl-4">
                            <div class="single-team mb-40" >
                                <div class="team-thumb">
                                    <div class="brd">
                                         <img src="img/team/team01.png" alt="img">
                                        
                                    </div>
                                </div>
                                <div class="team-info">
                                    <h4><a href="teacher-single.html">Bableo Dablo</a></h4>
                                    <p>Yoga Teacher</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>   
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>   
                                        </ul>       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="single-team mb-40" >
                                <div class="team-thumb">
                                    <div class="brd">
                                        <img src="img/team/team02.png" alt="img">
                                    </div>                                     
                                </div>
                                <div class="team-info">
                                    <h4><a href="teacher-single.html">Dawon Crisen</a></h4>
                                    <p>Yoga Teacher</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>   
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>   
                                        </ul>       
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="col-xl-4">
                            <div class="single-team mb-40" >
                                <div class="team-thumb">
                                    <div class="brd">
                                        <img src="img/team/team03.png" alt="img">
                                    </div>
                                    
                                </div>
                                <div class="team-info">
                                    <h4><a href="teacher-single.html">David Suarez</a></h4>
                                    <p>Yoga Teacher</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>   
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>   
                                        </ul>       
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-xl-4">
                            <div class="single-team mb-40" >
                                <div class="team-thumb">
                                    <div class="brd">
                                         <img src="img/team/team04.png" alt="img">
                                    </div>
                                
                                </div>
                                <div class="team-info">
                                    <h4><a href="teacher-single.html">Gerard Peano</a></h4>
                                    <p>Yoga Teacher</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>   
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>   
                                        </ul>       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="single-team mb-40" >
                                <div class="team-thumb">
                                    <div class="brd">
                                        <img src="img/team/team01.png" alt="img">
                                    </div>
                                  
                                </div>
                                <div class="team-info">
                                    <h4><a href="teacher-single.html">Ostin Green</a></h4>
                                   <p>Yoga Teacher</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>   
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>   
                                        </ul>       
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="col-xl-4">
                            <div class="single-team mb-40" >
                                <div class="team-thumb">
                                    <div class="brd">
                                        <img src="img/team/team02.png" alt="img">
                                    </div>
                                   
                                </div>
                                <div class="team-info">
                                    <h4><a href="teacher-single.html">Norman Colins</a></h4>
                                    <p>Yoga Teacher</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                            <li> <a href="#"><i class="fab fa-twitter"></i></a></li>   
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>   
                                        </ul>       
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section> -->
            <!-- team-area-end -->    
        </main>
        <!-- main-area-end -->
		
<!-- jQuery -->
<script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
<!-- Bootstrap 4 -->
<script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!-- AdminLTE App -->
<script src=" {% static 'administracion/dist/js/adminlte.min.js' %} "></script>


{% if messages %}
        {% for message in messages %}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 100">
            <div id="liveToast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
              <div class="toast-header" style="background-color: green; color: white;">
                <strong class="me-auto">Clase</strong>
                <button type="button" onclick="cerrarNotificacion()" id="botonToast" class="btn-close" data-bs-dismiss="toast" aria-label="Close" style="color: white;"></button>
              </div>
              <div class="toast-body" style="background-color: green; color: white;">
                {{message}}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

    </body>

    <script>
        const targetDiv = document.getElementById("liveToast");
        const btn = document.getElementById("botonToast");
        function cerrarNotificacion(){
            targetDiv.parentNode.style.display = 'none';
        }
    </script>

{% endblock body %}