{% extends 'index.html' %}

{% load static %}
{% block body %}


    <body>
        <!-- main-area -->
        <main>
            
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url('{% static 'client/img/bg/bdrc-bg.png' %}')">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>{{tipo_clase.nombre}}</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'clases' %}">Clases</a></li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->


             <section class="project-detail">
            <div class="container">


                <!-- Lower Content -->
                <div class="lower-content">
                    <div class="row">
                        <div class="text-column col-lg-8 col-md-12 col-sm-12">
                             <div class="upper-box">
                                <div class="single-item-carousel owl-carousel owl-theme">
                                    <figure class="image"><img src="{% static 'client/img/class/class-2.jpg'%}" alt="class"></figure>    
                                </div>
                            </div>
                            <div class="inner-column">                                
                                
                                <h4>¿Qué aprenderemos?</h4>
                                <p>{{tipo_clase.descripcion}}</p>
                                
                            </div>
                        </div>
                        <!-- /.LowerContent -->

                        <!-- Cuadro de la derecha con detalles -->
                        <div class="col-lg-4 col-md-12">
                             <aside class="sidebar-widget">
                              <section class="widget widget_search">
                                    <div class="course-widget-price">
                                   <h2 class="widget-title">Información de la clase</h2>
                                    <ul>
                                        <li>
                                           <i class="fal fa-clock"></i>
                                            <span>Días</span>
                                            {% if tipo_clase.dia == 'L' %}
                                            <span class="time">Todos los Lunes</span>
                                            {% elif tipo_clase.dia == 'K' %}
                                            <span class="time">Todos los Martes</span>
                                            {% elif tipo_clase.dia == 'M' %}
                                            <span class="time">Todos los Miércoles</span>
                                            {% elif tipo_clase.dia == 'J' %}
                                            <span class="time">Todos los Jueves</span>
                                            {% elif tipo_clase.dia == 'V' %}
                                            <span class="time">Todos los Viernes</span>
                                            {% elif tipo_clase.dia == 'S' %}
                                            <span class="time">Todos los Sábados</span>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <i class="fal fa-exclamation-circle"></i>
                                            <span>Duración</span>
                                            <span class="time"> De {{tipo_clase.horario_inicio}} a {{tipo_clase.horario_cierre}} </span>
                                        </li>
                                        <li>
                                           <i class="fal fa-user-graduate"></i>
                                            <span>Lugar</span>
                                            <span class="time">KalaYoga, Heredia</span>
                                        </li>
                                        <li>
                                           <i class="fal fa-plus-hexagon"></i>
                                            <span>Aforo</span>
                                            <span class="time">{{tipo_clase.aforo}} Personas</span>
                                        </li>
                                        <li>
                                            <i class="fal fa-user"></i>
                                            <span>Precio de Clase:</span>
                                            <span class="time">{{tipo_clase.precio}}</span>
                                        </li>
                                    </ul>
                                </div>


                              </section>
                               <!-- /.Cuadro de la derecha con detalles -->

                               <!-- Segundo cuadro con detalles -->
                              <section id="categories-1" class="widget widget_categories">
                                 <h2 class="widget-title">Fechas disponibles</h2>
                                 <ul>
                                    {% for a in fechas %}
                                        {% if a == 'msj' %}
                                            <li class="cat-item cat-item-16" ><a href="/cuenta/"><u>Ir a mis reservas</u></a>Ya tienes una reservación</li> 
                                        {% else %}
                                            <li class="cat-item cat-item-16" ><a href="#" data-toggle="modal" data-target="#staticBackdrop">Reserva ahora</a> {{a}}</li>
                                        {% endif %}
                                    
                                    {% endfor %}
                                 </ul>

                              </section>
                                <!-- /.Segundo cuadro con detalles -->
                           </aside>

                        </div>


                    </div>


                </div>

            </div>
        </section>
        <!--End Project Detail -->
        </main>
        <!-- main-area-end -->
    </body>
        

    <!-- Modal de usuario loggeado -->
    {% if user.is_authenticated %}

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Confirmar Reserva</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                    <p>¿Desea reservar un espacio en {{tipo_clase.nombre}}?</p>   
                    <p>Selecciona la fecha:</p> 


                    <form action="{% url 'crear_reserva' tipo_clase.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <select name = 'fecha'>
                                {% for a in fechas %}
                                    <option value="{{ a|date:'Y-m-d'}}">{{a}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Después</button>
                            
                            <button type="submit" class="btn btn-secondary">Confirmar</button>
                        </div>
                    </form>     


                    
            </div>
        </div>
        </div>
    </div>

    <!-- Modal de usuario sin cuenta -->
    {% else %}

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">No has iniciado sesión</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">    
                    <p>Crea un perfil o inicia sesión para reservar una clase</p>                
                    <div class="modal-footer">
                    <a href="{% url 'registro' %}"type="button" class="btn btn-secondary">Crear perfil</a>
                    <a href="{% url 'login' %}"type="button" class="btn btn-secondary">Iniciar Sesión</a>
                    </div>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

  {% endblock body %}




