{% extends 'index.html' %}

{% load static %}

{% block body%}

<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center" style="background-image:url( {% static 'client/img/bg/bdrc-bg.png' %} )">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Contacto</h2>
                            <div class="breadcrumb-wrap">

                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href=" {% static 'client/index.html' %} ">Inicio</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->



    <!-- contact-area -->
    <section id="contact" class="contact-area after-none contact-bg pt-120 pb-120 p-relative fix"
        style="background: #f8f9fe;">
        <div class="container">

            <div class="row">

                <div class="col-lg-6 order-1">
                    <img src=" {% static 'client/img/bg/contact-img.jpg' %} " alt="img">
                </div>
                <div class="col-lg-6 order-2">
                    <div class="contact-bg02 pl-60 wow fadeInLeft  animated">
                        <div class="section-title center-align">
                            <h2>
                                Si tienes alguna pregunta, no dudes en escribirnos
                            </h2>

                        </div>

                        <form action="" method="post" class="contact-form mt-35">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="contact-field p-relative c-name mb-30">
                                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required minlength="3" maxlength="50" title="Se permite solo letras y un máximo de 50 carácteres"  required pattern="[a-zA-Z][a-zA-Z ]+">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-field p-relative c-subject mb-30">
                                        <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-field p-relative c-subject mb-30">
                                        <input type="text" id="celular" name="celular" placeholder="Número de telefono" required minlength="8"  maxlength="11" title="Se permite solo numeros" required pattern="[0-9]+">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-field p-relative c-message mb-30">
                                        <textarea name="mensaje" id="mensaje" cols="30" rows="10"
                                            placeholder="Comentarios" required maxlength="200" title="Se permiten solo letras, números y un máximo de 200 carácteres"  required pattern="[a-zA-Z][a-zA-Z ][0-9]+"></textarea>
                                    </div>
                                    <div class="slider-btn">
                                        <button class="btn ss-btn active" data-animation="fadeInRight"
                                            data-delay=".8s">Enviar</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
            </div>

        </div>

    </section>

    <!-- jQuery -->
<script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
<!-- Bootstrap 4 -->
<script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<!-- AdminLTE App -->
<script src=" {% static 'administracion/dist/js/adminlte.min.js' %} "></script>


{% if messages %}
        {% for message in messages %}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 100">
            <div id="liveToast" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
              <div class="toast-header" style="background-color: green; color: white;">
                <strong class="me-auto">Contacto</strong>
                <button type="button" onclick="cerrarNotificacion()" id="botonToast" class="btn-close" data-bs-dismiss="toast" aria-label="Close" style="color: white;"></button>
              </div>
              <div class="toast-body" style="background-color: green; color: white;">
                {{message}}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

    </body>

    <script>
        const targetDiv = document.getElementById("liveToast");
        const btn = document.getElementById("botonToast");
        function cerrarNotificacion(){
            targetDiv.parentNode.style.display = 'none';
        }
    </script>
    <!-- contact-area-end -->
    <!-- map-area-end -->
    <div class="map fix" style="background: #f5f5f5;">
        <div class="container-flud">

            <div class="row">
                <div class="col-lg-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15715.504753212315!2d-84.0399447!3d10.0270746!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x978caf1f958dd979!2sKala%20Yoga!5e0!3m2!1sen!2scr!4v1650254152974!5m2!1sen!2scr"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- map-area-end -->

</main>

{% endblock body%}
