{% extends 'index.html' %}

{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block body %}

<main>
    <div class="container mt-3">
        <div class="col-lg-6 col-md-6 text-left">
            <div class="">
                <div class="button-group">
                    <button id="tabCuenta" class="active" data-filter=".cuenta-detalles">Cuenta</button>
                    <button id="tabReservas"   data-filter=".reservaciones">Mis reservas</button>
                    <button id="tabPedidos" data-filter=".pagos">Mis pedidos</button>
                </div>
            </div>
        </div>
        <div class="grid col-lg-12">
            <div class="grid-item cuenta-detalles">
                {% include 'client/cuenta/perfil.html' %}
            </div>
            <div class="grid-item reservaciones" style="display: none; width: 100% !important;">
                {% include 'client/cuenta/mis-reservas.html' %}
            </div>
            <div class="grid-item pagos" style="display: none; width: 100% !important;">
                {% include 'client/cuenta/mis-pagos.html' %}
            </div>

        </div>
    </div>
</main>


{% endblock body %}

