{% load static %}
<footer class="footer-bg footer-p" style="margin-top: auto;">

    <div class="footer-top pt-120 pb-20 p-relative"
        style="background-image: url( {% static 'client/img/bg/footer-bg.png' %} ); background-size: cover; background-repeat: no-repeat; background-color: #13212a;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-2 col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <div class="f-widget-title d-flex align-items-center">
                            <img src=" {% static 'client/img/logo/logo.png' %} " alt="img">
                            <img src=" {% static 'client/img/logo/pyme.png' %} " height="90" alt="img">
                        </div>

                    </div>
                </div>
                <!-- <div class="col-xl-2 col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <div class="f-widget-title">
                           <img src="{% static 'client/img/logo/logo.png' %}" alt="img">
                           <img src=" {% static 'client/img/logo/pyme.png' %} " alt="img">
                        </div>
                            
                    </div>
                </div> -->
                
                <div class="col-xl-10 col-lg-10 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-link">
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/nosotros"> Nosotros</a></li>
                                <li><a href="/clases"> Clases</a></li>
                                <li><a href="/clasesyoga"> Servicios</a></li>
                                <li><a href="/tienda"> Tienda</a></li>
                                <li><a href="/contacto"> Contacto</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    Copyright © 2022 Kala Yoga.
                </div>
                <div class="col-lg-6">
                    <div class="footer-social">
                        <a href="https://www.facebook.com/kalayogacr"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/kala_yoga/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/watch?v=-SAy8mnszG0&ab_channel=KalaYoga"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>