{% load static %}
<!-- header -->
<header class="header-area header">
    <div class="header-top second-header d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 d-lg-block">
                    <div class="header-social">
                        <span>
                            <a href="https://www.facebook.com/kalayogacr" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/kala_yoga/" title="Instagram"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/watch?v=-SAy8mnszG0&ab_channel=KalaYoga" title="Youtube"><i class="fab fa-youtube"></i></a>
                        </span>
                        <!--  /social media icon redux -->
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 text-right d-none d-lg-block">
                    <div class="header-cta">
                        <ul>

                            <li>
                                <a href="/carrito">
                                    <i class="fas fa-shopping-cart"></i>
                                    {{request.session.total_items_orden}} artículo(s)
                                </a>
                            </li>
                            {% if request.user.is_authenticated and request.user.is_staff %}
                            <li>
                                <span><a href="/login">Cuenta staff</a></span>
                            </li>
                            <li>
                                <span><a href="{% url 'logout_cliente' %}">Cerrar Sesión</a></span>
                            </li>

                            {% elif request.user.is_authenticated %}
                            <li>
                                <span><a href="/cuenta">¡Hola {{user.first_name}}!</a></span>
                            </li>
                            <li>
                                <span><a href="{% url 'logout_cliente' %}">Cerrar Sesión</a></span>
                            </li>
                            {% else %}
                            <li>
                                <span><a href="/login">Iniciar sesión</a></span>
                            </li>
                            <li>
                                <span><a href="/registro">Registrarse</a></span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="header-area" class="menu-area">
        <div class="container">
            <div class="second-menu">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="/"><img src="{% static 'client/img/logo/logo.png' %}" height="110" width="110" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">

                        <div class="main-menu text-right text-xl-right">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="/">Inicio</a></li>

                                    <li><a href="/nosotros">Nosotros</a></li>

                                    <li><a href="/clases">Clases</a></li>

                                    <li class="has-sub">
                                        <a href="" style="pointer-events: none;">Servicios</a>
                                        <ul>
                                            <li><a href="/clasesyoga">Clases de Yoga</a></li>
                                            <li><a href="/masajes">Masaje Tailandes</a></li>
                                            <li><a href="/talleres">Talleres</a></li>
                                            <li><a href="/retiros">Retiros</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="/tienda">Tienda</a></li>

                                    <li><a href="/contacto">Contacto</a></li>

                                    <li><a href="/ayuda">Ayuda</a></li>

                                    {% if request.user.is_authenticated %}
                                    <li><a href="/cuenta">Perfil</a></li>
                                    <li><a href="{% url 'logout_cliente' %}">Cerrar sesión</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login'%}">Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 text-right d-none d-lg-block mt-30 mb-30 text-right text-xl-right">
                        <div class="login">
                            <ul>
                                <li>
                                    <div class="header-btn second-header-btn">
                                        <a href="/clases" class="btn">Reservá ya</a>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>

                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->