{% extends 'index.html' %}
{% load static %}

{% block body %}


<main>
    <section id="home" class="slider-area slider-four fix p-relative">
        <div class="slider-active" style="background-color: #f0fdff; ">
            <div class="single-slider slider-bg d-flex align-items-center"
                style="background-image: url( {% static 'client/img/slider/slider.jpg' %} ); background-size: cover;">
                <div class="overlay-bg-01" data-animation="fadeInLeft" data-delay=".2s">
                    <img src=" {% static 'client/img/slider/anim-img01.png' %} " alt="slider-overlay">
                </div>
                <div class="overlay-bg-02" data-animation="fadeInLeft" data-delay=".2s">
                    <img src=" {% static 'client/img/slider/anim-img02.png' %} " alt="slider-overlay">
                </div>
                <div class="overlay-bg-03" data-animation="fadeInRight" data-delay=".2s">
                    <img src=" {% static 'client/img/slider/anim-img03.png' %} " alt="slider-overlay">
                </div>
                <div class="overlay-bg-04" data-animation="fadeInRight" data-delay=".2s">
                    <img src=" {% static 'client/img/slider/anim-img04.png' %} " alt="slider-overlay">
                </div>
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-8 col-md-8 text-center">
                            <div class="slider-content s-slider-content slider-text-2 mt-20">
                                <h5 data-animation="fadeInUp" data-delay=".4s">Bienvenido a Kala Yoga</h5>
                                <h3 data-animation="fadeInUp" data-delay=".4s">Dedicados a enseñar, compartir y crecer a través del Yoga</h3>
                                <div class="slider-btn mt-20 mb-160">
                                    <a href="/clases" class="btn ss-btn"
                                        data-animation="fadeInLeft" data-delay=".4s">Reservá ahora</a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-area -->
    <section class="feature-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="s-single-services wow fadeInUp animated" data-animation="fadeInDown animated"
                        data-delay=".2s">
                        <div class="services-icon">
                            <img src="{% static 'client/img/icon/f-icon1.png' %}" alt="icon" />
                        </div>
                        <div class="second-services-content">
                            <h5>Meditación</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="s-single-services active wow fadeInUp animated" data-animation="fadeInDown animated"
                        data-delay=".2s">
                        <div class="services-icon">
                            <img src="{% static 'client/img/icon/f-icon2.png' %}" alt="icon" />
                        </div>
                        <div class="second-services-content">
                            <h5>Yoga</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="s-single-services wow fadeInUp animated" data-animation="fadeInDown animated"
                        data-delay=".2s">
                        <div class="services-icon">
                            <img src="{% static 'client/img/icon/f-icon3.png' %}" alt="icon" />
                        </div>
                        <div class="second-services-content">
                            <h5>Pranayama Yoga</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="s-single-services wow fadeInUp animated" data-animation="fadeInDown animated"
                        data-delay=".2s">
                        <div class="services-icon">
                            <img src="{% static 'client/img/icon/f-icon4.png' %}" alt="icon" />
                        </div>
                        <div class="second-services-content">
                            <h5>Acroyoga</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- feature-area-end -->
    <!-- about-area -->
    <section class="about-area about-p pt-90 pb-120 p-relative fix">
        <div class="animations-03"><img src="{% static 'client/img/bg/an-img-03.png' %}" alt="an-img-01"></div>
        <div class="animations-05"><img src="{% static 'client/img/bg/an-img-05.png' %}" alt="contact-bg-an-01">
        </div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft"
                        data-delay=".4s">
                        <img src="{% static 'client/img/features/about_img.jpg' %}" alt="img">
                        <div class="about-text second-about">
                            <img src="{% static 'client/img/features/logo-icon.png' %}" alt="img">
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="about-content s-about-content  wow fadeInRight  animated" data-animation="fadeInRight"
                        data-delay=".4s">
                        <div class="about-title second-title pb-25">
                            <h2>Busca el balance de cuerpo y mente</h2>
                        </div>
                        <p>Cuerpo, mente y espíritu, los tres elementos a la vez te representan. De nada sirve centrar esfuerzo en nuestro cuerpo, por ejemplo, si nuestro espíritu está inquieto, o nuestra mente agotada. Lograr el equilibrio entre ellos es la clave para alcanzar una vida plena.</p>
                        
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- about-area-end -->
    <!-- Classes-area -->
    <section class="class-area fix p-relative pt-110 pb-90" style="background: #f6f8fc;">
        <div class="animations-01"><img src="{% static 'client/img/bg/an-img-01.png' %}" alt="an-img-01"></div>
        <div class="animations-02"><img src="{% static 'client/img/bg/an-img-02.png' %}" alt="an-img-02">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-relative">
                    <div class="section-title center-align mb-50 text-center wow fadeInDown animated"
                        data-animation="fadeInDown" data-delay=".4s">
                        <h2>
                            Nuestros servicios
                        </h2>

                    </div>
                </div>

            </div>
            <div class="row class-active">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="class-item mb-30">
                        <div class="class-img hover-zoomin">
                            <div class="class-img-outer">
                                <img src="{% static 'client/img/class/class-1.jpg' %}" alt="class image">
                            </div>
                        </div>
                        <div class="class-content"> 
                            <h4 class="title"><a href="/clasesyoga">Yoga</a></h4>
                            <p>El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="class-item mb-30">
                        <div class="class-img hover-zoomin">
                            <div class="class-img-outer">
                                <img src=" {% static 'client/img/class/class-2.jpg' %}" alt="class image">
                            </div>
                        </div>
                        <div class="class-content">
                            <h4 class="title"><a href="/masajes">Masajes Tailandes</a>
                            </h4>
                            <p>El masaje tradicional tailandés es un masaje tanto de relajación como descontracturante. Se trata de un masaje de estiramientos y profundidad: es decir, la terapista estirará tus extremidades, cuello, espalda y torso, según vea la necesidad.</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="class-item mb-30">
                        <div class="class-img hover-zoomin">
                            <div class="class-img-outer">
                                <img src="{% static 'client/img/class/class-3.jpg' %}" alt="class image">
                            </div>
                        </div>
                        <div class="class-content">
                            <h4 class="title"><a href="/talleres">Talleres</a>
                            </h4>
                            <p>Talleres de diferentes disciplinas además del Yoga</p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="class-item mb-30">
                        <div class="class-img hover-zoomin">
                            <div class="class-img-outer">
                                <img src="{% static 'client/img/class/class-5.jpg' %}" alt="class image">
                            </div>
                        </div>
                        <div class="class-content">
                            <h4 class="title"><a href="/retiros">Retiros</a>
                            </h4>
                            <p>Teger eu venenatis tellus. Nullam vehicula magna id tellus accumsan blandit. Vivamus
                                vehicula vel lorem vel dignissim.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- classes-area-end -->

    <!-- Seccion del video -->
    <section id="video" class="video-area p-relative" style="background-image:url({% static 'client/img/slider/slider-clases.jpg' %}); background-size: cover;">
        <div class="container">
             <div class="row">
                <div class="col-12">
                    <div class="s-video-wrap" >
                        <div class="s-video-content">
                            <h2>Aprende más de Kala</h2>
                           <h6><a href="http://www.youtube.com/watch?v=BD7rKPSzozk" class="popup-video mb-50"><img src="{% static 'client/img/bg/play-button.png' %}" alt="circle_right"></a></h6> 
                           
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>

    <!-- /.seccion del video -->


    <!-- pricing-area -->
    <section id="pricing" class="pricing-area pb-60 fix p-relative mt-5">
        <div class="animations-01"><img src="{% static 'client/img/bg/an-img-08.png' %}" alt="an-img-08"></div>
        <div class="animations-02"><img src="{% static 'client/img/bg/an-img-09.png' %}" alt="an-img-09"></div>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-35">

                        <h2>
                            Precios
                        </h2>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                        <div class="pricing-head">
                            <h5> 1 Clase semanal</h5>
                            <div class="price-count">
                                <span>Mensualidad</span>
                                <h3>₡15 000</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                        <div class="pricing-head">
                            <h5> 2 Clases semanales</h5>
                            <div class="price-count">
                                <span>Mensualidad</span>
                                <h3>₡20 000</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                        <div class="pricing-head">
                            <h5> 3 Clases semanales</h5>
                            <div class="price-count">
                                <span>Mensualidad</span>
                                <h3> ₡ 25 000</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                        <div class="pricing-head">
                            <h5> 4 Clases semanales</h5>
                            <div class="price-count">
                                <span>Mensualidad</span>
                                <h3>₡ 30 000</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                        <div class="pricing-head">
                            <h5> 1 Clases semanales de Acroyoga</h5>
                            <div class="price-count">
                                <span>Mensualidad</span>
                                <h3>₡ 20 000</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                        <div class="pricing-head">
                            <h5> 2 Clases semanales de Acroyoga</h5>
                            <div class="price-count">
                                <span>Mensualidad</span>
                                <h3>₡ 30 000</h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                        <div class="pricing-head">
                            <h5> Sesion Masaje Tailandes</h5>
                            <div class="price-count">
                                <h3> ₡5000</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-area-end -->

</main>

{% endblock body%}