{% extends 'index.html' %}

{% load static %}

{% block body %}

<div class="container-fluid d-flex justify-content-center pb-5 pt-5" style="background-color: rgb(252, 252, 252);">
    <div class="client-login-form col-md-5">
        <div class="contact-bg02 pl-60 wow fadeInLeft  animated mt-3 mb-3">
            <div class="section-title center-align text-align-center">
                <h5 class=" d-flex justify-content-center">
                    Iniciar sesión
                </h5>
            </div>

            <!-- Form de inicio de sesion -->
            <form action="" method="post" class="contact-form mt-35">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-subject mb-30">
                            <input type="text" id="email" name="email" placeholder="Correo electrónico" required>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-subject mb-2">
                            <input type="password" id="password" name="password" placeholder="Contraseña"  minlength="3" required>
                        </div>
                        <div class = "mb-3"> 

                        </div>
                        
                        <!-- mensaje de contraseña incorrecta -->
                        {% if messages %}
                        {% for message in messages %}
                        <small class={message.tags} style="color:red ">{{message}}</small>
                        <p></p> 
                        {% endfor %}
                        {% endif %}
                        <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
                    </div>
                    <div class="col-lg-12">
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha" data-sitekey="6LcLAS0iAAAAAKAfEgC0Yigp1p-hPqwPeJrxi44e" aria-required="true"></div>
                    </div>
                    
                    
                    <!-- <div class="g-recaptcha" data-sitekey="6LcXKYchAAAAAOyUJ-kyV8rvW_XQXbR9ZpGEqL3f">
                        {% if messages %}
                        {% for message in messages %}
                        <small class={message.tags} style="color:red ">{{message}}</small>
                        <p></p>
                        {% endfor %}
                        {% endif %}
                    </div> -->
                    
                    <br/>


                    <div class="col-lg-12">
                        <div class="slider-btn d-flex justify-content-center">
                            <button type="submit" class="btn ss-btn active mt-4" data-animation="fadeInRight"
                                data-delay=".8s">Iniciar sesión</button>
                        </div>
                    </div>
                </div>

            </form>



        </div>
    </div>
</div>

{% endblock body %}