{% extends 'index.html' %}

{% load static %}
{% block body %}
    
    <body>
        <!-- main-area -->
        <main>
       <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/bg/bdrc-bg.png)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Mis Reservas</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{%url 'clases'%}">Clases</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Mis Reservas</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
			 <!-- pricing-area -->
            <section id="pricing" class="pricing-area pt-120 pb-60 fix p-relative">
                 <div class="animations-01"><img src="img/bg/an-img-01.png" alt="an-img-01"></div>
                <div class="animations-02"><img src="img/bg/an-img-02.png" alt="contact-bg-an-01"></div>
                <div class="container"> 
                    
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                           <div class="pricing-box pricing-box2 mb-60  wow fadeInLeft  animated">
                                 <div class="pricing-head">   
                                    <h5>Basic Plan</h5>  
                                        <div class="price-count">
                                            <h2>$19.99</h2>
                                            <span>Per Month</span>
                                        </div> 
                                     <hr>
                                </div>
                                <div class="pricing-body mt-20 mb-30 text-left">
                                   <ul>
                                        <li>60-day chat history</li>
                                        <li>Data security</li>
                                        <li class="disable">100 GB cloud storage</li>
                                        <li class="disable">Best class design</li>
                                       <li class="disable">24/7 Support</li>
                                    </ul>
                                </div>             
                                           
                                <div class="pricing-btn">
                                   <a href="#contact" class="btn ss-btn smoth-scroll"><span>Choose Plan</span></a>
                                </div>
                            </div>
                        </div>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- pricing-area-end -->
             
          
        </main>
        <!-- main-area-end -->
          
    </body>

{% endblock body %}