{% extends 'index.html' %}

{% load static %}

{% block body %}

<div class="container-fluid d-flex justify-content-center mb-5 mt-5" style="background-color: rgb(252, 252, 252);">
    <div class="client-login-form col-md-5">
        <div class="contact-bg02 pl-60 wow fadeInLeft  animated mt-3 mb-3">
            <div class="section-title center-align text-align-center">
                <h5 class=" d-flex justify-content-center">
                    Crear cuenta
                </h5>
            </div>

            <form action="" method="post" class="contact-form mt-35">
                {% csrf_token %}
                <div class="row">

                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-name mb-3">
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required minlength="3" maxlength="30" title="Se permite solo letras y un máximo de 30 caracteres"  required pattern="[a-zA-Z][a-zA-Z ]+">
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-name mb-3">
                            <input type="text" id="apellido" name="apellido" placeholder="Apellido" required minlength="3" maxlength="30" title="Se permite solo letras y un máximo de 30 caracteres"  required pattern="[a-zA-Z][a-zA-Z ]+">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-subject mb-3">
                            <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
                            <small style="color:rgba(251, 123, 18, 0.901)" hidden="true" id="email-msj">Ya existe una cuenta con el correo electrónico ingresado. Prueba otro correo.</small>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-name mb-3">
                            <select style="border-radius: 10px;" name="genero">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-name mb-3">
                            <input type="text" id="celular" name="celular" placeholder="Celular" required minlength="8" maxlength="11" title="Se permite solo numeros" required pattern="[0-9]+">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-name mb-3">
                            <input type="text" id="padecimientos" name="padecimientos" placeholder="Padecimientos">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-name mb-3">
                            <input type="text" id="lesiones" name="lesiones" placeholder="Lesiones">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="contact-field p-relative c-subject mb-3">
                            <input type="password" id="password" name="password" placeholder="Contraseña" required>
                            <small style="color:gray" id="parametros">La contraseña debe tener al menos 8 caracteres, mínimo un número, una letra mayúscula y una letra minúscula. </small>
                            {% if messages %}
                            {% for message in messages %}
                            <p></p>
                            <small class={message.tags} style="color:rgba(251, 123, 18, 0.901)">{{message}}</small>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="slider-btn d-flex justify-content-center">
                            <button id="Submit" class="btn ss-btn active mt-4" data-animation="fadeInRight" data-delay=".8s" disabled="true">Crear
                                cuenta</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- Script de checkeo de parametros de contraseña -->
<script>
    document.getElementById("password").addEventListener("keyup", CheckPassword)
    document.getElementById("email").addEventListener("keyup", Prueba)
    function CheckPassword(){
        let password =document.getElementById("password").value;
        if (password.length < 8 || password.search(/[a-z]/) < 0 || password.search(/[A-Z]/) < 0 || password.search(/[0-9]/) < 0  ) {
            document.getElementById("parametros").style.color = "rgba(251, 123, 18, 0.901)";
            document.getElementById("parametros").innerHTML = "La contraseña debe tener al menos 8 caracteres, mínimo un número, una letra mayúscula y una letra minúscula.";
            document.getElementById("Submit").disabled = true;
        } else {
            document.getElementById("Submit").disabled = false;
            document.getElementById("parametros").innerHTML = "Contraseña segura";
        }
    }

    function Prueba(){ 
        let a = document.getElementById("email").value;
        let url = '{% url "prueba_fetch" 12345 %}'.replace(/12345/,a);
        fetch(url, {
        headers:{
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
        },
        })
        .then(response => {
            return response.json() //Convert response to JSON
        })
        .then(data => {
            if(data.msj != 'valido'){
                document.getElementById("email-msj").hidden = false;
            }else{
                document.getElementById("email-msj").hidden = true;
            }
})
    }
</script>

{% endblock body %}

