{% extends 'index.html' %}

{% load static %}

{% block body %}

<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center" style="background-image:url('{% static 'client/img/bg/bdrc-bg.png'%}')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>{{ name }}</h2>
                            <div class="breadcrumb-wrap">

                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href=" {% static 'client//tienda' %} ">Tienda</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Detalles</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- shop-banner-area start -->
    <section class="shop-banner-area pt-120 pb-90 " data-animation="fadeInUp animated" data-delay=".2s">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    
                    <div class="product-details-img mb-30">
                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show active" id="home" role="tabpanel">
                                <div class="product-large-img">
                                    <img src=" {{productos.imagen.url}} " alt="">
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
               
                <div class="col-xl-5">
                    <div class="product-details mb-30">
                        <div class="product-details-title">
                            <h1>{{productos.nombre}}</h1>
                            <div class="price details-price pb-30 mb-20">
                                <span>₡{{productos.precio}}</span>
                            </div>
                        </div>
                        <p>{{productos.descripcion}}</p>
                        <div class="product-details-action">
                            <form method="post">
                                {% csrf_token %}
                                {% if productos.cantidad == 0 %}
                                    <button class="btn btn-black" type="submit" id="btn-add-item" disabled>Fuera de stock</button> 
                                {% else %}
                                <div class="plus-minus">
                                    <div class="cart-plus-minus"><input type="number" id="cantidad_a_pedir" name="cantidad" value="1" /></div>
                                    
                                </div>
                                <!-- <button class="btn btn-black" type="submit">Añadir al carrito</button> -->
                                <button class="btn btn-black" type="submit" id="btn-add-item">Añadir al carrito</button> 
                                <input type="hidden" name="id_producto" value="{{productos.id}}">
                                {% endif %}
                            </form>
                        </div>
                        <div class="msjs mb-3 mt-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<script>
    let cantidad_a_pedir = document.querySelector('#cantidad_a_pedir');
    const cantidad_disponible = '{{productos.cantidad}}';
    const msj_container = document.querySelector('.msjs');

    cantidad_a_pedir.onchange = (e) => {
        if(Number(cantidad_a_pedir.value) > Number(cantidad_disponible)){
            cantidad_a_pedir.value = cantidad_disponible;
            msj_container.innerHTML = `Solo hay ${cantidad_disponible} productos disponibles`
        }

        if(Number(cantidad_a_pedir.value) < Number(cantidad_disponible)){
            msj_container.innerHTML = ``
        }

        if(Number(cantidad_a_pedir.value < 1)){
            cantidad_a_pedir.value = 1;
        }
    }
</script>
{% endblock body %}
