{% extends 'index.html' %}

{% load static %}

{% block body %}
<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center" style="background-image:url('{% static 'client/img/bg/bdrc-bg.png' %}')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="breadcrumb-wrap text-left">
                        <div class="breadcrumb-title">
                            <h2>Tienda</h2>
                            <div class="breadcrumb-wrap">

                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href=" {% static 'client/templates/index.html' %} ">Inicio</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Tienda </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- shop-area -->
    <section class="shop-area pt-120 pb-120 p-relative " data-animation="fadeInUp animated" data-delay=".2s">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h6 class="mt-20 mb-30">Mostrando {{productos.count}} resultados</h6>
                </div>
            </div>
            <div class="row align-items-center">
                {% for products in productos%}
                <div class="col-lg-4 col-md-6">
                    <div class="product mb-40">
                        <div class="product__img">
                            <a href = "{% url 'producto' products.id %}"><img src="{{products.imagen.url}}" alt=""></a>
                            <div class="product-action text-center">

                                <a href="{% url 'producto' products.id %}" type="submit">Ver detalle</a>
                            </div>
                        </div>
                        <div class="product__content text-center pt-30">
                            <h4 class="pro-title"><a href = "{% url 'producto' products.id %}"<b>{{products.nombre}}</b></a></h4>
                            <div class="price">
                                <span> ₡{{products.precio}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}   
        </div>
    </section>
    <!-- shop-area-end -->
</main>
{% if user.is_authenticated %}

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Añadido al carrito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        </div>
        </div>
    </div>
 <!-- Modal de usuario sin cuenta -->
 {% else %}

 <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
         <h5 class="modal-title" id="staticBackdropLabel">No has iniciado sesión</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
         </button>
         </div>
         <div class="modal-body">    
                 <p>Crea un perfil o inicia sesión para añadir al carrito</p>                
                 <div class="modal-footer">
                 <a href="{% url 'registro' %}"type="button" class="btn btn-secondary">Crear perfil</a>
                 <a href="{% url 'login' %}"type="button" class="btn btn-secondary">Iniciar Sesión</a>
                 </div>
         </div>
     </div>
     </div>
 </div>
 {% endif %}
{% endblock body %}