{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kala Yoga</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'client/img/favicon.ico' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'client/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'client/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'client/css/dripicons.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/responsive.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    {% include 'client/header.html' %}
    <!-- main-area -->
   
    <body style="min-height: 100vh;
    display: flex;
    flex-direction: column;">
     
     {% block body %}

    {% endblock body %}
    
    </body>
    
    <!-- main-area-end -->
    <!-- footer -->
    {% include 'client/footer.html' %}
    <!-- footer-end -->

    <!-- JS here -->
    <script src="{% static 'client/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'client/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'client/js/popper.min.js' %}"></script>
    <script src="{% static 'client/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'client/js/slick.min.js' %}"></script>
    <script src="{% static 'client/js/ajax-form.js' %}"></script>
    <script src="{% static 'client/js/paroller.js' %}"></script>
    <script src="{% static 'client/js/wow.min.js' %}"></script>
    <script src="{% static 'client/js/js_isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'client/js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'client/js/parallax.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'client/js/parallax-scroll.js' %}"></script>
    <script src="{% static 'client/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'client/js/element-in-view.js' %}"></script>
    <script src="{% static 'client/js/main.js' %}"></script>

    

    <!-- jQuery -->
    <script src=" {% static 'administracion/plugins/jquery/jquery.min.js' %} "></script>
    <!-- Bootstrap 4 -->
    <script src=" {% static 'administracion/plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>