{% extends 'index.html' %}

{% load static %}

{% block body %}

<main>
    <div class="container m-4 d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-lg-6 order-1">
                <img src=" {% static 'client/img/bg/contact-img.jpg' %} " alt="img">
            </div>
            <div class="col-lg-6 order-2 d-flex align-items-center">
                <div class="contact-bg02 pl-60 wow fadeInLeft  animated">
                    {% if validlink == False %}
                    <h4>Este enlace ya no se encuentra disponible</h4>
                    {% else %}
                    <div class="section-title center-align">
                        <h4>
                            Crear nueva contraseña
                        </h4>
                    </div>

                    <form action="" method="POST" class="contact-form mt-35" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-lg-12">
                                <div class="contact-field p-relative c-subject mb-30">
                                    <input type="password" id="id_new_password1" name="new_password1" placeholder="Contraseña" required>
                                    <small style="color:gray" id="parametros">La contraseña debe tener al menos 8 caracteres, mínimo un número y una letra mayúscula. </small>
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="contact-field p-relative c-subject mb-30">
                                    <input type="password" id="id_new_password2" name="new_password2" placeholder="Confirmar contraseña" required>
                                    <small style="color:gray" id="parametros_confirm"></small>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="slider-btn">
                                    <button disabled id="Submit" type="submit" class="btn ss-btn active" data-animation="fadeInRight"
                                        data-delay=".8s">Cambiar contraseña</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    {% endif %}
                    {% for field in form%}
                    {{field}}
                    <hr>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock body %}

{% block scripts %}
<script>
    document.getElementById("id_new_password1").addEventListener("keyup", CheckPassword)
    document.getElementById("id_new_password2").addEventListener("keyup", CheckConfirmPassword)
    function CheckPassword(){
        let password = document.getElementById("id_new_password1").value;
        if (password.length < 8 || password.search(/[a-z]/) < 0 || password.search(/[A-Z]/) < 0 || password.search(/[0-9]/) < 0  ) {
            document.getElementById("parametros").style.color = "rgba(251, 123, 18, 0.901)";
            document.getElementById("parametros").innerHTML = "La contraseña debe tener al menos 8 caracteres, mínimo un número y una letra mayúscula.";
        } else {
            document.getElementById("parametros").innerHTML = "Contraseña segura";
        }
    }

    function CheckConfirmPassword(){
        let password = document.getElementById("id_new_password1").value;
        let password_to_confirm = document.getElementById('id_new_password2').value;
        if (password_to_confirm != password) {
            document.getElementById("parametros_confirm").style.color = "rgba(251, 123, 18, 0.901)";
            document.getElementById("parametros_confirm").innerHTML = "Las contraseñas no coinciden";
            document.getElementById("Submit").disabled = true;
        } else {
            document.getElementById("Submit").disabled = false;
            document.getElementById("parametros_confirm").innerHTML = "Las contraseñas coinciden";
        }
    }

</script>
{% endblock scripts %}