{% extends 'index.html' %}

{% load static %}

{% block body %}

<main>
    <div class="container m-4 d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-lg-6 order-1">
                <img src=" {% static 'client/img/bg/contact-img.jpg' %} " alt="img">
            </div>
            <div class="col-lg-6 order-2 d-flex align-items-center">
                <div class="contact-bg02 pl-60 wow fadeInLeft  animated">
                    {% if sent %}
                    <div class="section-title center-align">
                        <h4>
                            Te hemos enviado las instrucciones a tu correo electrónico
                        </h4>
                    </div>
                    {% elif changed == True %}
                    <div class="section-title center-align">
                        <h4>
                            La contraseña se ha cambiado correctamente
                        </h4>
                    </div>
                    {% else %}
                    <div class="section-title center-align">
                        <h4>
                            ¿Has olvidado tu contraseña?
                        </h4>
                        <h6>
                            No te preocupes, ingresá tu correo electrónico y te enviaremos instrucciones para crear una nueva contraseña
                        </h6>
                    </div>

                    <form action="{% url 'password_reset' %}" method="post" class="contact-form mt-35">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-lg-12">
                                <div class="contact-field p-relative c-subject mb-30">
                                    <input type="text" id="email" name="email" placeholder="Correo electrónico" required>
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="slider-btn">
                                    <button type="submit" class="btn ss-btn active" data-animation="fadeInRight"
                                        data-delay=".8s">Enviar</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock body %}