{% extends 'index.html' %}

{% load static %}

{% block body %}

<main>
    <div class="container m-4 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-lg-6 order-1">
                <img src=" {% static 'client/img/bg/contact-img.jpg' %} " alt="img">
            </div>
            <div class="col-lg-6 order-2 d-flex align-items-center">
                <div class="contact-bg02 pl-60 wow fadeInLeft  animated">
                    <h4>La contraseña ha sido restablecida correctamente, ahora puedes inicar sesión</h4>
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock body %}